
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cossette+Titre:wght@400;700&family=Doto:wght@100..900&family=Gasoek+One&family=Lavishly+Yours&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Stencil+One&family=Sixtyfour&family=Sora:wght@100..800&family=Stack+Sans+Headline:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


$primary : #ffb703;
$secondary : #240062;
$accent : #faf4d3;
$black : #0c1618;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Stack Sans Headline", sans-serif;
}

@mixin center($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction ;
}

@mixin headingText() {
    font-size: clamp(3rem, 6vw, 7rem);
    color: $accent;
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    margin: 1rem;
    font-weight: 200;
    text-transform: uppercase;
    font-family: "Gasoek One", sans-serif;
}