$primary : #ffb703;
$secondary : #240062;
$accent : #faf4d3;
$black : #0c1618;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin center($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction ;
}

@mixin headingText() {
    font-size: clamp(3rem, 6vw, 7rem);
    color: $accent;
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    margin: 1rem;
    font-weight: 200;
    text-transform: uppercase;
    font-family: "Gasoek One", sans-serif;
}