@use "sass:color";
@use 'config' as *;

footer {
    z-index: 100;
    @include center(column);
    background-color: $secondary;
    width: 100%;
    padding: 1rem;
    color: $accent;
    // box-shadow: 0 -15px  rgb(255, 255, 255);
    & > * {
        width: 50%;
    }

    & > p {
        text-align: center;
    }
}

#footer-heading {
    font-size: clamp(2rem, 3vw, 5rem);
    text-align: left;
    padding-left: 1rem;
    border-bottom: 1px soild rgba(97, 97, 97, 0.555);
}

#footer-link-container {
    @include center(row);
    & > * {
        width: 50%;
    }

    & #footer-link-container-about-links {
        @include center(column);
        gap: 1rem;
    }
}

#footer-link-container-quick-links{
    & > ul {
        list-style: none;
        & > li > * {
            opacity: 0.8;
            padding-left: 1rem;
            text-decoration: none;
            color: $accent;
        }     
    }
}

#footer-link-container-about-links-social-list {
    @include center(row);
    gap: 1rem;
    margin-block-start: 1rem;
}

#footer-link-container-about-links-about {   
    & > ul {
        list-style: none;
        & > li > * {
            opacity: 0.8;
            padding-left: 1rem;
            text-decoration: none;
            color: $accent;
        }     
    }
}

@media (max-width: 700px) {
    footer {
        height: 50vh;    
        & > * {
            width: 100%;
        }
    }
}