@import 'config';

footer {
    @include center(column);
    background-color: $secondary;
    width: 100%;
    padding: 1rem;
    color: $accent;
    & > * {
        width: 50%;
    }
}

h1 {
    font-size: clamp(3rem, 3vw, 5rem);
    text-align: left;
    padding-left: 1rem;
    border-bottom: 1px soild rgba(97, 97, 97, 0.555);
}

#linkWrapper {
    @include center(row);
    & > * {
        width: 50%;
    }

    & #aboutWrapper {
        @include center(column);
        gap: 1rem;
    }
}

#socialList {
    @include center(row);
    gap: 1rem;
    margin-block-start: 1rem;
}

ul {
    list-style: none;
    li a {
        opacity: 0.8;
        padding-left: 1rem;
        text-decoration: none;
        color: $accent;
    }     
}

p {
    text-align: center;
}