@import 'config';

header {
    width: 100%;
    height: 70px;
    @include center(row);
    justify-content: space-between;
    background-color: $secondary;
    padding: 1rem;

    
}

#header-nav {
    width: 50%;
    & #header-nav-list {
        width: 100%;
        @include center(row);
        justify-content: space-evenly;
        list-style: none;
        & li > a{
            color: $accent;
            text-decoration: none;
        }
    }
}

#header-mobile-menu {
    display: none;
    color: $accent;
    margin-inline: 1rem;
    font-size: 2rem;
}

@media (max-width: 700px) {
    #header-nav {
        display: none;
    }

    #header-mobile-menu {
        display: inline;
    }
}