@use "sass:color";
@use 'config' as *;

header {
    width: 100%;
    // height: 70px;
    @include center(row);
    justify-content: space-between;
    padding: 1rem;
    transition: all 0.5s ease-in-out;
    position: fixed;
    z-index: 100;
    background: transparent;
    anchor-name: --header;
    & > * {
        opacity: 1;
    }
}

#header-nav {
    scrollbar-width: none;
    overflow-y: hidden;
    transition: all 0.5s ease-in-out;
    background-color: rgb(39, 39, 39);
    padding: 1rem;
    border-radius: 10vw;
    box-shadow: 5px 5px 10px #000000c2,
                -5px -5px 5px #4242429c inset,
                5px 5px 5px #0000009c inset;
    & #header-nav-list {
        @include center(row);
        gap: 1rem;
        justify-content: space-evenly;
        list-style: none;
        & > * {
            text-decoration: none;
            & > .listItem {
                transition: all 0.3s ease-out;
                cursor: pointer;
                // height: 80%;
                width: max-content;
                padding: 1vw 2vw;
                border-radius: 70px;
                font-size: 1vw;
                background-color: rgb(207, 176, 0);
                color: $black;
                box-shadow: 5px 5px 5px #c2c1c1a4 inset,
                            -5px -5px 5px #0000009c inset;
                &:hover{
                    background-color: rgb(31, 31, 31);
                    color: $accent;
                    box-shadow: 5px 5px 5px #c2c1c144 inset,
                    -5px -5px 5px #0000009c inset;
                
                }
            }
        }
    }
}


// #header-nav:has(.listItem:hover) {
//     background-color: transparent;
// }


#header-mobile-menu {
    display: none;
    color: $accent;
    margin-inline: 1rem;
    font-size: 2rem;
}


#header-mobile-menu-list{
    position: absolute;
    display: none;
    inset: 6vh 0 0 0;
    overflow: hidden;
    scrollbar-width: none;
    height: 100vh;
    width: 100%;
    justify-items: center;
    align-content: center;
    background: rgb(1, 0, 82);
    transform: translateX(100%);
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    & > #header-mobile-list {
        @include center(column);
        padding: 5vw;
        width: 90%;
        gap: 1rem; 
        border-radius: 5vw;
        // background: rgb(27, 27, 27);
        // box-shadow: 5px 5px 5px rgb(20,20,20) inset;

        & > * {
            color: $accent;
            text-decoration: none;
            font-size: 9vw;
            line-height: 1.5;
            width: 100%;
            border-radius: 4vw;
            text-align: center;
            padding-right: 1rem;
            // background: rgb(48, 48, 48);
            // box-shadow: -5px -5px 5px rgb(10,10,10) inset, 5px 5px 5px rgb(80, 80, 80) inset;            
        }
    }
}


@media (max-width: 700px) {
    header {
        height: 6vh;
        background-color: $secondary;
        position: sticky;
        top: 0;
        z-index: 2;

    }

    #header-nav {
        display: none;
    }

    #header-mobile-menu {
        display: inline;
    }

    
}