@import 'config';

#recommendationSection {
    height: 100vh;
    @include center(column);
    padding: 1rem;
}

#recommendationHeading {
    @include headingText();
    color: $secondary;
}

#recommendationCardWrapper {
    @include center(column);
    width: 90%;
    
}

#recommendationCardContainer {
    @include center(row);
    width: 100%;
    gap: 1rem;
    overflow: hidden;
    justify-content: flex-start
}

.recommendationCard {
    @include center(column);
    height: 30vw;
    position: relative;
    & > .recommendationImg {
        height: 80%;
        width: 21vw;
        object-fit: cover;
        border-radius: 50px 100px 30px 80px;
    }
    & > .recommendationArticle {
        flex: 1;
        width: 100%;
        padding: 1rem;
        text-align: center;
        & > h3 {
            color: $secondary;
            font-size: clamp(1.5rem, 2vw, 3rem);
        }
    }
}

#recommendationButtonWrapper {
    @include center(column);
    width: 100%;
    font-size: clamp(1.5rem, 2vw, 3rem) ;   
    & #recommendationDiscoverBtn {
        height: 50px;
        width: max-content;
        padding-inline: 2rem;
        border: none;
        border-radius: 50px;
        font-size: clamp(1.2rem, 1.2vw, 1.5rem);
        margin-inline: 1rem;
        color: $black;
        font-weight: 500;
        background: $primary;
    } 
}

.fa-solid {
    margin-inline: 1rem;
}