@import 'config';
@import 'header';
@import 'footer';

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bowlby+One+SC&family=Cossette+Titre:wght@400;700&family=Doto:wght@100..900&family=Gasoek+One&family=Lavishly+Yours&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Stencil+One&family=Sixtyfour&family=Sora:wght@100..800&family=Stack+Sans+Headline:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    min-height: 100vh;
    background: darken($accent, 5%);
    overflow-x: hidden ;
}

main {
    position: relative;
    min-height: 100vh;
    width: 100%;
    @include center(row);
}

#textSection {
    flex: 1;
    padding-inline: 5rem;

    & h2 {
        font-weight: 100;
        & i {
            margin-right: 1rem;
        }
        margin-top: 1rem;
        padding-inline: 2rem;
        position: fixed;
        // inset: 0;
        top: 0;

        height: 10rem;
        font-family: "Anton", sans-serif;
        font-weight: 100;
        // margin: 1px;
        text-transform: uppercase;
        font-size: clamp(2rem, 5.5vw, 5rem);
        text-align: left;
            
    }

    & h1 {
        font-weight: 100;
        font-family: "Anton", sans-serif;
        margin-left: 2vw;
        width: 40%;
        text-transform: uppercase;
        font-size: clamp(4rem, 8.5vw, 8rem);
        color: $secondary;
        border-bottom: 2px solid $primary;
    }

    & p {    
        margin-block: 2rem;
        margin-inline: auto;
        width: 80%;
        font-size: clamp(1.5rem, 3.5vw, 2.5rem);
        text-align: left
    }
}

#navSection {
    height: 100vh;
    @include center(row);
    width: 20%;
    outline: 2px solid black;

    & ul {
        list-style: none;
        width: 100%;

        & li {
            padding-top: 0;
            margin-top: 0;
            
            font-family: "Anton", sans-serif;
            font-weight: 100;
            // margin: 1px;
            text-transform: uppercase;
            font-size: clamp(3rem, 6.5vw, 6rem);
            text-align: center;
            
        }
    }
}

li:nth-child(1) {
    width: calc(100% + 2rem);
    background: $secondary;
    color: $accent;
    box-shadow: 0 5px 15px -5px $secondary,
                0 -5px 5px -5px $secondary inset;
}

li:hover {
    width: calc(100% + 2rem);
    background: $primary;
    color: $black;
}

h2:hover {
    color: $primary;
}