@use "sass:color";
@use 'config' as *;
@use 'header';
@use 'footer';

body {
    min-height: 100vh;
    background: color.adjust($accent,$lightness: -5%);
    overflow-x: hidden ;
}

// #attraction-all-loc-main{
//     height: 100vh;
// }

#attraction-hero-section {
    @include heroSection();
    // top: 0;
    // position: sticky;
    // & > img {
    // }
}

#attraction-list-section {
    @include center(column);
    padding: 1rem;
    width: 100%;
    min-height: 100vh;
    gap: 2rem;
}

.attraction-card {
    height: 50rem;
    width: 70%;
    background: $black;
    position: relative;
    border-radius: 5vw;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
    scale:0;
    animation: atc-card-fade-in-pc ease-in ;
    animation-timeline: view();
    animation-range: cover -10%;

    & .attraction-card-bg-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.7;
        border-radius: inherit;
    }
    
    & .attraction-card-details {
        position: absolute;
        bottom: 0;
        height: 30%;
        width: 100%;
        @include center(row);
        justify-content: space-between;
        padding-inline: 5vw ;
        background-color: rgba(0,0,0,0.6) ;
        // background: linear-gradient(to bottom, 
        //                             rgba(0,0,0,0.5) 0%,
        //                             rgba(0,0,0,0.5) 90%,
        //                             transparent 100%
        //                             );
        border-radius: 0 0 5vw 5vw;

        & > .attraction-card-details-article {
            color: $accent;

            & p {
                text-align: left;
                font-size: clamp(1.2rem, 1.3vw, 1.4rem);
            }
        }

        & i {
            color: $accent;
            font-size: clamp(2rem, 3vw, 4rem);
        }
    }
}

@keyframes atc-card-fade-in {
    0%, 100% {scale: 1 0.2;opacity: 0.4;}
    20%, 80% {
        scale: 1;
        opacity: 1;
    }

}

@keyframes atc-card-fade-in-pc {
    0%, 100% {scale: 0.2;opacity: 0.4;}
    20%, 80% {
        scale: 1;
        opacity: 1;
    }
}

@media (max-width: 700px) {
    #attraction-list-section {
        gap: 1rem;
    }

    .attraction-card {
        height: 20rem;
        width: 95%;
        box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.5);
        // animation: atc-card-fade-in ease-in;
        // animation-timeline: view();
        animation-range: cover;

        & > .attraction-card-details {
            min-height: 30%;
            & > .attraction-card-details-article {
                padding-block: 2rem;
                flex: 1;
            }
        }
    }
}