@import 'config';
@import 'header';
@import 'footer';

body {
    min-height: 100vh;
    background: darken($accent, 5%);
    overflow-x: hidden ;
}

#heroSection {
    height: 100vh;
    width: 100%;
    @include center(column);    

    position: relative;
    background: $black;
    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.5;
    }

    & #heroArticle {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        & h1 {
            @include headingText();
            font-size: clamp(2rem, 5vw, 10rem);
            text-align: center;
            margin-bottom: 0;

        }

        & p{
            font-size: clamp(1.2rem, 1.5vw, 3rem);
            color: $accent;
        }
    }
}

#attractionList {
    @include center(column);
    padding: 1rem;
    width: 100%;
    min-height: 100vh;
    gap: 2vw;
}

.attractionCard {
    height: 50rem;
    width: 70vw;
    background: $black;
    position: relative;
    border-radius: 5vw;
    box-shadow: 5px 5px 10px 5px $black;
    
    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.7;
        border-radius: inherit;
    }
    
    .detailWrapper {
        position: absolute;
        bottom: 10px;
        height: 20%;
        width: 100%;
        @include center(row);
        justify-content: space-between;
        padding-inline: 5vw ;
        background-color: rgba(0,0,0,0.5) ;
        background: linear-gradient(to bottom, 
                                    rgba(0,0,0,0.5) 0%,
                                    rgba(0,0,0,0.5) 90%,
                                    transparent 100%
                                    );
        border-radius: 0 0 5vw 5vw;

        & .attractionArticle {
            color: $accent;
            
            & h2 {
                font-size: clamp(2rem, 3vw, 4rem);
            }

            & p {
                text-align: left;
                font-size: clamp(1.2rem, 1.3vw, 1.4rem);
            }
        }

        & i {
            color: $accent;
            font-size: clamp(2rem, 3vw, 4rem);
        }
    }

}