@use "sass:color";
@use 'config' as *;
@use 'header';
@use 'footer';

#attraction-place-main {
    width: 100%;
    background-color: $secondary;
    position: relative;
    @include center(column);
    align-items: end;
    z-index: -1;
}

#attraction-place-bg-section {
    height: 100vh;
    width: 100%;
    background: $black;
    anchor-name: --bg-section;
    position: relative;
    position: sticky;
    top: 0;
    & > #attraction-place-bg-img {
        height: 100%;
        width: 100%;
        opacity: 0.2;
        object-fit: cover;
        // filter: grayscale(1);
        animation: hero-bg-img-scale-up ease-in;
        animation-timeline: view();
        animation-range: cover;
    }

    & > #attraction-place-bg-detail {
        // height: 50%;
        width: 100%;
        text-align: center;
        color: white;
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(0%,-50%);
        animation: hero-bg-txt-translate ease-in;
        animation-timeline: view();
        animation-range: cover 20%;
        transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        & > #attraction-place-bg-location {
            font-size: 3rem;
            font-weight: 300;
            animation: hero-bg-para-resize ease-in forwards;
            animation-timeline: view();
            animation-range: cover 20%;
            transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

        }
        & > #attraction-place-bg-name {
            width: 100%;
            font-size: clamp(3rem, 7vw, 8rem);
            font-weight: 800;
            animation: hero-bg-heading-resize ease-in forwards;
            animation-timeline: view();
            animation-range: cover 20%;
            transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
            
        }
    }
}

#attraction-place-hero-section {
    min-height: 100vh;
    width: 50%;
    @include center(column);
    gap: 1rem;
    background: linear-gradient( color.adjust($accent, $lightness: -30%), color.adjust($accent, $lightness: -40%));
    padding-block: 40rem;
    // overflow-y: scroll;
    // position: absolute;
    // inset: 0 0 0 auto;
    & > article {
        opacity: 0;
        animation: und-page-detail-article cubic-bezier(0.175, 0.885, 0.32, 1.275);
        animation-range: cover 40% cover 80%;
        animation-timeline: view();
        box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.6);
    }
}

@keyframes und-page-detail-article {
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}

#attraction-place-hero-famous {
    background: color.adjust($accent, $lightness: -20%);
    // outline: 2px solid;
    width: 90%;
    padding: 2rem;
    // border: 2px solid black;
    border-radius: 15px;
    & > #attraction-place-hero-famous-heading {
        font-size: clamp(1.1rem, 3vw, 3rem);
    }

    & > #attraction-place-hero-famous-ul {
        list-style: none;
        padding-left: 1rem;

        & > li {
            width: 90%;
            padding-bottom: 1.5rem;
            & > h2 {
                font-size: clamp(1.1rem, 2.5vw, 2rem);
                width: max-content;
                padding: 1rem;
                border-radius: 0 0 0 15px;
                border-bottom: 1px solid $black;
                border-left: 1px solid $black;
                font-weight: 600;
            }

            & > p {
                width: 100%;
                padding-top: 0.5rem;
                padding-left: 2rem;
                font-size: clamp(1.1rem, 1.5vw, 1.5rem);
            }
        }
    }
}

#attraction-place-hero-history {
    background: color.adjust($accent, $lightness: -19%);
    width: 90%;
    padding: 2rem;
    border-radius: 15px;

    & span {
        font-weight: 700;
    }

    & > #attraction-place-hero-history-era {
        font-weight: 200;
        color: $black;

    }

    & > #attraction-place-hero-history-brief {
        font-size: clamp(1.1rem, 2vw, 1.6rem);
        padding: 1rem;
    }

    & > #attraction-place-hero-architecture-style {
        font-size: clamp(1.2rem, 2.5vw, 2rem);
        
    }
}

#attraction-place-hero-facts {
    background: color.adjust($accent, $lightness: -18%);
    // outline: 2px solid;
    width: 90%;
    padding: 2rem;
    // border: 2px solid black;
    border-radius: 15px;
}

#attraction-place-hero-tips{
    background: color.adjust(#137d5a, $lightness: 10%);
    // outline: 2px solid;
    width: 90%;
    padding: 2rem;
    border-radius: 15px;
}

#attraction-place-hero-beware{
    background: color.adjust(#ff0000cb, $lightness: 10%);
    // outline: 2px solid;
    width: 90%;
    padding: 2rem;
    // border: 2px solid black;
    border-radius: 15px;
}