@import 'config';
@import 'header';
@import 'footer';

body {
    min-height: 100vh;
    background: darken($accent, 5%);
    overflow-x: hidden ;
}



#attractionList {
    @include center(column);
    padding: 1rem;
    width: 100%;
    min-height: 100vh;
    gap: 2rem;
}

.attractionCard {
    height: 50rem;
    width: 70%;
    background: $black;
    position: relative;
    border-radius: 5vw;
    box-shadow: 5px 5px 10px 5px $black;
    
    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.7;
        border-radius: inherit;
    }
    
    .detailWrapper {
        position: absolute;
        bottom: 10px;
        height: 20%;
        width: 100%;
        @include center(row);
        justify-content: space-between;
        padding-inline: 5vw ;
        background-color: rgba(0,0,0,0.5) ;
        background: linear-gradient(to bottom, 
                                    rgba(0,0,0,0.5) 0%,
                                    rgba(0,0,0,0.5) 90%,
                                    transparent 100%
                                    );
        border-radius: 0 0 5vw 5vw;

        & .attractionArticle {
            color: $accent;

            & p {
                text-align: left;
                font-size: clamp(1.2rem, 1.3vw, 1.4rem);
            }
        }

        & i {
            color: $accent;
            font-size: clamp(2rem, 3vw, 4rem);
        }
    }
}

@media (max-width: 700px) {
    #attractionList {
        gap: 1rem;
    }

    .attractionCard {
        height: 20rem;
        width: 90%;
        box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.5);
    }
}