@use "sass:color";
@use 'config' as *;
@use 'header';
@use 'footer';

#cities-main {
    // height: 200vh;
    width: 100%;
    @include center(column);
    background: color.adjust($accent, $lightness:20%);
}

#cities-backdrop-section-wrapper {
    width: 100%;
    height: 200vh;
}

#cities-backdrop-section {
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: $black;
    z-index: 0;
    
    & > #cities-backdrop-section-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.4;
        // animation: hero-bg-img-scale-up ease-in;
        animation-timeline: view();
        animation-range: cover;
    }

    & > #cities-backdrop-section-article {
        position: absolute;
        inset: 50% 50% 0 0 ;
        transform: translate(0, -50%);
        height: max-content;
        padding: 2rem;
        width: 100%;
        text-align: center;
        color: $accent ;
        font-size: clamp(3rem, 7.5vw, 8rem);
        font-weight: 900;
        anchor-name: --city-heading;
    }

    & > #cities-hero-section-article {
        width: 100%;
        position: absolute;
        
        top: calc(anchor(bottom --city-heading));
        color: $accent;
        left: calc(anchor(left --city-heading));
        // transform: translateX(-50%);
        justify-items: center;
        opacity: 0;

        animation: cities-article-pop-out ease-in-out forwards;
        animation-timeline:scroll(block);
        animation-range: 20% 30%;

        & > #cities-hero-section-article-name {
            font-size: clamp(2rem, 5.5vw, 5rem);
        }

        & > #cities-hero-section-article-details {
            width: 60%;
            text-align: center;
            font-size: clamp(1.1rem, 2.5vw, 1.6rem);
            padding-inline: 1rem;
        }
    }
}
// outline: 2px solid blue;

#cities-hero-section {
    --img-height: 20rem;
    width: 70%;
    min-height: var(--img-height);
    margin-block: 2rem;
    padding: 2rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    @include center(row);
    justify-content: space-evenly;
    position: relative;

    & > #cities-hero-section-img {
        height: var(--img-height);
        aspect-ratio: 1 / 1;
        border-radius: calc(var(--img-height) / 20);
        object-fit: cover;
        transform: translateX(50%);
        // animation: cities-article-pop-out ease-in-out forwards;
        opacity: 1;
        z-index: 2;
        animation-timeline: view();
        animation-range: entry 10%;
    }

   
}

@keyframes cities-article-pop-out {
    to {
        opacity: 1;
    }
}

#cities-details-section {
    width: 100% ;
    @include center(column);
    min-height: 100vh;
    

    & > #cities-details-section-menu {
        width: 100%;
        height: 100px;
        background: color.adjust($accent, $lightness:5%);
        @include center(row);
        
        gap: 2%;
        
        // position: sticky;
        top: 0;
        // padding: 1rem;
        & > .cities-details-section-menu-list {
            padding-block: 0.5rem;
            border-bottom: 2px solid $secondary;
            font-size: clamp(1.1rem, 2.5vw, 2.5rem);
            cursor: pointer;
            text-decoration: none;
        }
    }

    & > #cities-details-section-container {
        width: 70%;
        font-size: clamp(1.1rem, 1.5vw, 1.6rem);
        & > article {
            margin-block: 1rem;
            padding:1rem 10%;
            background: color.adjust($accent, $lightness:-5%);

            & > h2 {
                width: 100%;
                margin-block: 2rem;
                font-size: clamp(1.1rem, 2.5vw, 4rem);
                border-bottom: 1px solid black;
            }
        }
    }
}

@media (max-width : 700px) {
    
    #cities-backdrop-section-wrapper {
        height: 250vh;
    }
    #cities-backdrop-section{
        & > #cities-hero-section-article {
            animation-range: 0% 30%;
    
            & > #cities-hero-section-article-details {
                width: 90%;
            }
        }
    }

    #cities-details-section {
        & > #cities-details-section-container {
            width: 90%;
        }

        & > #cities-details-section-menu {
            padding-inline: 1rem;
        }
    }
}