@use "sass:color";
@use 'config' as *;
@use 'header';
@use 'footer';

#cities-main {
    width: 100%;
    @include center(column);
}

#cities-backdrop-section {
    height: 100vh;
    width: 100%;
    background-color: $black;
    position: relative;
    justify-items: center;
    align-items: center;

    & > #cities-backdrop-section-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.1;
    }

    & > #cities-backdrop-section-article {
        position: absolute;
        inset: 50% 50% 0 0 ;
        transform: translate(0, -50%);
        height: max-content;
        padding: 2rem;
        width: 100%;
        text-align: center;
        color: $accent ;
        font-size: clamp(3rem, 7.5vw, 8rem);
        font-weight: 900;
    }
}
// outline: 2px solid blue;

#cities-hero-section {
    width: 70%;
    margin-block: 2rem;
    padding: 2rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    @include center(row);
    justify-content: space-evenly;
    --img-height: 20rem;

    & > #cities-hero-section-img {
        height: var(--img-height);
        aspect-ratio: 1 / 1;
        border-radius: calc(var(--img-height) / 20);
        object-fit: cover;
    }

    & > #cities-hero-section-article {
        width: 70%;

        & > #cities-hero-section-article-name {
            font-size: clamp(2rem, 5.5vw, 5rem);
        }

        & > #cities-hero-section-article-details {
            font-size: clamp(1.1rem, 2.5vw, 1.6rem);
            padding-inline: 1rem;
        }
    }
}


#cities-details-section {
    width: 70%;
    @include center(row);
    min-height: 100vh;
    align-items: stretch;

    & > #cities-details-section-menu {
        width: 20rem;
        flex: 1;
        background: color.adjust($accent, $lightness:-50%);
    }

    & > #cities-details-section-container {
        width: calc(100% - 20rem);
        background: color.adjust($accent, $lightness:-5%);
        padding-inline: 10%;
        font-size: clamp(1.1rem, 1.5vw, 1.6rem);

        & > h2 {
            width: 100%;
            margin-block: 2rem;
            font-size: clamp(1.1rem, 2.5vw, 4rem);
            border-bottom: 1px solid black;
        }
    }
}