@use "sass:color";
@use 'config' as *;
@use 'header';
@use 'footer';

body {
    min-height: 100vh;
    background: $primary;
    overflow-x: hidden ;
    background-color: $accent;
}

#country-hero-section{
    @include heroSection();
}

#country-city-list-section {
    @include center(row);
    width: 100%;
    justify-content: space-evenly;
    min-height: 100vh;
    background: radial-gradient(color.adjust($primary, $lightness: 20%) 0%, 
                                $primary 30%, 
                                $primary 70%, 
                                color.adjust($primary, $lightness: -20%) 100%);
}


#country-city-list-section-bar {
    height: 100vh;
    width: 20%;
    z-index: 2;
    position: relative;
    @include center(column);
    & > #country-city-list-section-bar-container {
        @include center(column);
        height: 50%;
        justify-content: space-evenly;
        & > .country-city-list-section-bar-element {
            height: 40px;
            width: 40px;
            transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
            background: color.adjust($primary, $lightness: -20%);
            border-radius: 20px;
            z-index: 20;
        }

        & > .country-city-list-section-bar-element-scale {
            width: 10rem;
            transform: translateX(40%);
            background: $accent;
        }
    }

}
// #country-city-list-section-bar::before {
//     content: "";
//     height: 80%;
//     position: absolute;
//     width: 10px;
//     right: 50%;
//     top: 50%;
//     transform: translate(-10%, -50%);
//     z-index: 1;
//     background: color.adjust($primary, 20%);
// }

#country-city-list-section-container {
    width: 70%;
    height: 100vh;
    @include center(column);
    gap: 20px;
}

.country-city-card {
    background: color.adjust($primary,$lightness: -15%);
    box-shadow: 2px 2px 10px 2px color.adjust($primary,$lightness: -30%);
    border-radius: 50px;
    width: 80%;
    height: 20px;
    scale: 0.9 1;
    // transition: all 0.5s cubic-bezier(0.615, 0.810, 0.855, 1);

    & > img,
    & > h2 {
        display: none;
    }
}

.country-city-card-indexed {
    position: relative;
    width: 80%;
    height: 50vh;
    border-radius: 50px;
    box-shadow: 2px 2px 10px 2px color.adjust($primary,$lightness: -20%);
    scale: 1;
    & > .country-city-card-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 50px;
    }

    & > .country-city-card-detail-name {
        @include headingText();
        height: 20%;
        transition: all 0.5s ease-out;
        position: absolute;
        text-align: left;
        inset: auto auto 0 0;   
        font-size:  4rem;
        margin: 0;
        background: rgba(0,0,0,0.4);
        border-radius: 0 0 50px 50px;
        padding-inline: 1rem;
        transform: translateY(100px);
        opacity: 0;
        animation:country-city-card-txt-pop-up 0.5s ease-in forwards;
    }
}

@keyframes country-city-card-txt-pop-up {
    70% {
        opacity: 0.1;
    }
    80%, 100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#country-city-update-btns {
    width: 100px;
    height: 50vh;
    margin-right: 1rem;
    @include center(column);
    color: $secondary;
    font-size: 4rem;
    justify-content: space-evenly;
}

@media (max-width: 700px) {
    #country-city-list-section-container {
        flex: 1;
    }

    .country-city-card {
        width: 95%;
        border-radius: 2rem;
        & > img {
            border-radius: inherit;
        }

        & > h2 {
            font-size:  3rem;
        }
    }
}