@import 'config';
@import 'header';
@import 'footer';

body {
    min-height: 100vh;
    background: $primary;
    overflow-x: hidden ;
    background-color: $accent;
}

#country-hero-section{
    @include heroSection();
}

#country-city-list-section {
    @include center(row);
    width: 100%;
    justify-content: space-evenly;
    min-height: 100vh;
    background: radial-gradient(lighten($primary, 20%) 0%, $primary 30%, $primary 70%, darken($primary, 20%) 100%);
}


#country-city-list-section-bar {
    height: 100vh;
    width: 20%;
    z-index: 2;
    position: relative;
    @include center(column);
    & > #country-city-list-section-bar-container {
        @include center(column);
        height: 50%;
        justify-content: space-evenly;
        & > .country-city-list-section-bar-element {
            height: 40px;
            width: 40px;
            transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
            background: darken($primary, 20%);
            border-radius: 20px;
            z-index: 20;
        }

        & > .country-city-list-section-bar-element-scale {
            width: 20rem;
            transform: translateX(40%);
            background: $accent;
        }
    }

}
// #country-city-list-section-bar::before {
//     content: "";
//     height: 80%;
//     position: absolute;
//     width: 10px;
//     right: 50%;
//     top: 50%;
//     transform: translate(-10%, -50%);
//     z-index: 1;
//     background: darken($primary, 20%);
// }

#country-city-list-section-container {
    width: 70%;
    height: 100vh;
    @include center(column);
    gap: 20px;
}

.country-city-card {
    background: darken($primary, 15%);
    box-shadow: 2px 2px 10px 2px darken($primary, 30%);
    border-radius: 50px;
    width: 80%;
    height: 20px;
    scale: 0.9 1;
    // transition: all 0.5s cubic-bezier(0.615, 0.810, 0.855, 1);

    & > img,
    & > article {
        display: none;
        & > * {
            display: inherit;
        }
    }
}

.country-city-card-indexed {
    position: relative;
    width: 80%;
    height: 50vh;
    border-radius: 50px;
    box-shadow: 2px 2px 10px 2px darken($primary, 20%);
    scale: 1;
    & > .country-city-card-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 50px;
    }

    & > .country-city-card-detail {
        @include center(column);
        border-radius: 50px 0 0 50px;
        position: absolute;
        height: 100%;
        width: 40%;
        color: $accent;
        background: rgba(0,0,0, 0.5)
        radial-gradient(transparent, $black);
        top: 0;
        opacity: 0;
        // transform: translateX(-100%);
        transition: all 0.5s ease-out;

        & > .country-city-card-detail-name {
            width: 100%;
            border-bottom: 2px solid $accent;
            
            @include headingText();
            font-size:  4rem;
            padding: 2px;
        }

        & > .country-city-card-detail-para {
            font-size: clamp(1rem, 1.2vw, 1.2rem);
            color: $accent;
            width: 80%;
        }
        
    }
}

.country-city-card-indexed:hover  .country-city-card-detail{
    transform: translateX(0);
    opacity: 1;
}

#country-city-update-btns {
    width: 100px;
    height: 50vh;
    margin-right: 1rem;
    @include center(column);
    color: $secondary;
    font-size: 4rem;
    justify-content: space-evenly;
}

@media (max-width: 700px) {
    #country-city-list-section-container {
        flex: 1;
    }

    .country-city-card {
        width: 95%;
        border-radius: 2rem;
        & > img {
            border-radius: inherit;
        }

        & > article {
            width: 100%;
            border-radius: inherit;
            & > h2 {
                font-size:  3rem;
            }
        }
    }
}