@import 'config';
@import 'header';
@import 'footer';

body {
    min-height: 100vh;
    background: $primary;
    overflow-x: hidden ;
    background-color: $accent;
}

#country-hero-section{
    @include heroSection();
}

#country-city-list-section {
    @include center(row);
    width: 100%;
    justify-content: space-evenly;
    min-height: 100vh;
    background: radial-gradient(lighten($primary, 20%) 0%, $primary 30%, $primary 70%, darken($primary, 20%) 100%);
}


#country-city-list-section-bar {
    height: 100vh;
    width: 20%;
}

#country-city-list-section-container {
    width: 70%;
    height: 100vh;
    @include center(column);
}

.country-city-card {
    position: relative;
    width: 80%;
    height: 50vh;
    border-radius: 50px;
    box-shadow: 5px 5px 10px 5px darken($primary, 20%);

    & > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 50px;
    }

    & > article {
        @include center(column);
        border-radius: 50px 0 0 50px;
        position: absolute;
        height: 100%;
        width: 40%;
        color: $accent;
        background: rgba(0,0,0, 0.5)
        radial-gradient(transparent, $black);
        top: 0;
        opacity: 0;
        // transform: translateX(-100%);
        transition: all 0.5s ease-out;

        & > h2 {
            width: 100%;
            border-bottom: 2px solid $accent;
            
            @include headingText();
            font-size:  4rem;
            padding: 2px;
        }

        & > p {
            font-size: clamp(1rem, 1.2vw, 1.2rem);
            color: $accent;
            width: 80%;
        }
        
    }
}

.country-city-card:hover  .country-city-card-detail{
    transform: translateX(0);
    opacity: 1;
}

@media (max-width: 700px) {
    #country-city-list-section-container {
        flex: 1;
    }

    .country-city-card {
        height: 40vh;
        width: 95%;
        border-radius: 2rem;
        & > img {
            border-radius: inherit;
        }

        & > article {
            width: 100%;
            border-radius: inherit;
            & > h2 {
                font-size:  3rem;
            }
        }
    }
}