@import 'config';
@import 'header';
@import 'footer';

body {
    min-height: 100vh;
    background: darken($accent, 10%);
    overflow-x: hidden ;
}

#heroSection {
    height: 100vh;
    width: 100%;
    @include center(column);    

    position: relative;
    background: $black;
    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.5;
    }

    & #heroArticle {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        & h1 {
            @include headingText();
            font-size: clamp(2rem, 5vw, 10rem);
            text-align: center;
            margin-bottom: 0;

        }

        & p{
            font-size: clamp(1.2rem, 1.5vw, 3rem);
            color: $accent;
        }
    }

}

main {
    @include center(column);
}

#experienceWrapper {
    @include center(column);
    width: 90%;
    padding: 2rem;
    gap: 2rem;
}

.experienceCard {
    @include center(row);
    width: 100%;
    height: 40rem;
    padding: 1rem ;
    background: darken($accent, 5%);
    border-radius: 3rem;
    box-shadow: 5px 5px 10px  rgba(0,0,0,0.2);
    

    & img {
        height: 90%;
        width: 30rem;
        object-fit: cover;
        filter: brightness(80%);
        box-shadow: 5px 5px 15px 5px  rgba(0,0,0,0.4);
        border-radius: 100% 5rem 5rem 100%;
    }
    
    & article {
        width: 40vw;
        height: 80%;
        background: $accent;
        padding: 1rem;
        border-radius: 0 500px 500px 0;
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
        animation: animateOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        
        & > * {
            opacity: 0;
            animation: animateOutText 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            animation-delay: 500ms;    
            
        } 
        
        & h2 {
            color: $secondary;
            font-size: clamp(2rem, 4.5vw, 4rem);
        }
        
        & .activityRegion {
            width: 60%;
            text-align: start;
            font-size: clamp(1rem, 1.5vw, 1.4rem);
            margin-bottom: 2rem;
            opacity: 0.8;
            padding-bottom: 10px;
            border-bottom: 1px solid $secondary;
            box-shadow: 0px 5px 10px -10px $secondary;
         }
         
         & .activityPara {
             width: 90%;
             text-align: start;
             font-size: clamp(1.2rem, 1.5vw, 1.8rem);
             
            }
        }
        
    
}

@keyframes animateOut {
    from {
        width: 0;
        opacity: 0;
    }
}

@keyframes animateOutText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.experienceCard:nth-child(even) {
    flex-direction: row-reverse;
    & img {
        border-radius: 5rem 100% 100% 5rem;
            
    }

    & article {
        border-radius: 500px 0 0 500px;
        
        & h2 {
            text-align: right;
        }

        & p {
            text-align: end;
            margin-left: auto;
        }
    }
}