@import 'config';
@import 'header';
@import 'footer';

body {
    min-height: 100vh;
    background: $primary;
    overflow-x: hidden ;
}

#heroSection {
    height: 100vh;
    width: 100%;
    @include center(column);    

    position: relative;
    background: $black;
    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.5;
    }

    & #heroArticle {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        & h1 {
            @include headingText();
            font-size: clamp(2rem, 5vw, 10rem);
            text-align: center;
            margin-bottom: 0;

        }

        & p{
            font-size: clamp(1.2rem, 1.5vw, 3rem);
            color: $accent;
        }
    }

}

#expeditionWrapper {
    @include center(column);
    width: 100%;
    background: linear-gradient(lighten($secondary, 10%), $secondary, darken($secondary, 10%));
    padding: 2rem;
    gap: 4rem;
    
}

.expeditionCard {
    @include center(row);
    width: 80%;
    height: 40rem;
    background: darken($accent, 5%);
    border-radius: 4rem;
    position: relative;
    z-index: 0;
    
    
    & img {
        // margin: 1rem;
        height: 100%;
        width: 30rem;
        object-fit: cover;
        filter: brightness(80%);
        border-radius: 4rem 0 0 4rem;
        box-shadow: 5px 5px 15px 5px  rgba(0,0,0,0.4);
        
    }

    & article {
        flex: 1;
        padding: 2rem;
        height: 80%;
        background: inherit;

        & p {
            width: 70%;
            text-align: left;
        }

        & h2 {
            
            color: $secondary;
            font-size: clamp(2rem, 4.5vw, 4rem);
        }
        
        & .duration {
            color: gray;
            font-size: clamp(1rem, 1.5vw, 1.4rem);
            
        }
        
        & h3 {
            margin-block: 2rem;
            font-size: clamp(1.2rem, 2.4vw, 2rem);
        }
        
         & .region {

            font-size: clamp(1.2rem, 2.5vw, 2rem);
            font-weight: 700;
        }
        
        & .descritption {
            font-size: clamp(1.2rem, 2.4vw, 2rem);

        }
        
    }
    
}

.expeditionCard::after {
    content: "";
    position: absolute;
    inset: 0;
    height: 100%;
    z-index: -2;
    width: 100%;
    scale: 1.02;
    background: darken($accent, 15%);
    border-radius: inherit;
}

.expeditionCard::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit; // Ensures it matches the parent's curve
    background: darken($accent, 5%);
    z-index: -1; // Sits behind the content
}