@import 'config';
@import 'header';
@import 'footer';

body {
    min-height: 100vh;
    background: $primary;
    overflow-x: hidden ;
}

#expedition-hero-section {
    @include heroSection();
}

#expedition-list-section {
    @include center(column);
    width: 100%;
    background: linear-gradient( lighten($primary, 10%), darken($accent, 30%));
    padding: 2rem;
    gap: 4rem;
    
}

.expedition-card {
    @include center(row);
    width: 80%;
    height: 40rem;
    background: darken($accent, 5%);
    border-radius: 4rem;
    position: relative;
    z-index: 0;
    
    
    & .expedition-card-img {
        // margin: 1rem;
        height: 100%;
        width: 30rem;
        object-fit: cover;
        filter: brightness(80%);
        border-radius: 4rem 0 0 4rem;
        box-shadow: 5px 5px 15px 5px  rgba(0,0,0,0.4);
        
    }

    & .expedition-card-article {
        flex: 1;
        padding: 2rem;
        height: 80%;

        & p {
            width: 70%;
            text-align: left;
        }

        & .expedition-card-article-name {
            color: $secondary;
        }
        
        & .expedition-card-article-duration {
            color: gray;
            font-size: clamp(1rem, 1.5vw, 1.4rem);
        }
        
        & .expedition-card-article-usp {
            margin-block: 2rem;
            font-size: clamp(1.1rem, 2.4vw, 2rem);
        }
        
         & .expedition-card-article-region {

            font-size: clamp(1rem, 2.5vw, 2rem);
            font-weight: 700;
        }
        
        & .expedition-card-article-descritption {
            font-size: clamp(0.9rem, 2.4vw, 2rem);

        }
        
    }
    
}

.expedition-card::after {
    content: "";
    position: absolute;
    inset: 0;
    height:  calc(100% + 2rem);;
    z-index: -2;
    width: calc(100% + 2rem);
    background: darken($accent, 15%);
    border-radius: calc(4rem + 1rem);
    transform: translate(-1rem, -1rem);
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.4);
}

.expedition-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;  
    background: radial-gradient(darken($accent, 5%) ,darken($accent, 15%));
    z-index: -1;  
    box-shadow: 5px 5px 15px 5px  rgba(0,0,0,0.4);
}

.expedition-card:nth-child(even) {
    flex-direction: row-reverse;
    & > img {
        border-radius: 0 4rem 4rem 0 ;
    }

    & > article {
        text-align: right;
        & > p {
            text-align: inherit;
            margin-left: auto;
        }

    }
}


@media (max-width: 700px) {
    

    .expedition-card {
        width: 100%;
        height: 20rem;
        background: black;
        & .expedition-card-img {
            width: 40%;
        } 
        & .expedition-card-article {
            padding: 1rem;
            height: 100%;

            & > h3 {
                margin-block: 0.5rem
            }

            & > p {
                width: 100%;
            }
        }  
    }
}