@use "sass:color";
@use 'config' as *;
@use 'header';
@use 'footer';

#experience-page-main {
    @include center(column);
    height: 100vh;
    width: 100%;
    position: relative;
}

#experience-bg-img {
    height: 100%;
    background: $black;
    width:100%;
    position: relative;

    & > #experience-bg {
        height: 100%;
        width: 100%;
        opacity: 0.4;
        object-fit: cover;
    }

    & > #experience-bg-name {
        color: $accent;
        font-size: clamp(3rem, 10vw, 6rem);
        position: absolute;
        inset: 10rem auto auto 1rem;
        width: 50%;
    }
}

#experience-hero-details {
    width: 50%;
    height: 100%;
    background-color: rgba(0,0,0, 0.65);
    padding: 50rem 1rem;
    color: azure;
    position: absolute;
    inset: 0 0 0 auto;
    overflow: scroll;
    @include center(column);
    justify-content: start;
    gap: 1rem;
    & > * {
        background: rgba(0,0,0, 0.6);
        width: 90%;
        border-radius: 1rem;
        padding: 1rem;
    } 

    & h2 {
        margin-bottom: 1rem;
    }
}

#experience-hero-details-brief {
    font-size: clamp(1.1rem, 1.5vw, 1.5rem);
}

#experience-hero-details-quick-facts {
    font-weight: 100;
    font-size: clamp(1.1rem, 1.5vw, 1.3rem);
    & span {
        font-weight: 700;
    }
}

#experience-hero-details-spot-lights {
    @include center(column);
    gap: 1rem; 
    & > .experience-hero-details-spot-lights-card {
        @include center(row);
        gap: 1rem; 

        & > .experience-hero-details-spot-lights-article{
            flex: 1;
            font-size: clamp(1.1rem, 1.5vw, 1.5rem);
        }
    }
}

.experience-hero-details-spot-lights-card-img {
    height: 30vh;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 1rem;
    
}

#experience-hero-details-expert-guides {
    font-weight: 100;
    font-size: clamp(1.1rem, 1.5vw, 1.3rem);
    & span {
        font-weight: 700;
    }
}