@import 'config';
@import 'header';
@import 'footer';

body {
    min-height: 100vh;
    background: $primary;
    overflow-x: hidden ;
}

#expeditionWrapper {
    @include center(column);
    width: 100%;
    background: linear-gradient( lighten($primary, 10%), darken($accent, 30%));
    padding: 2rem;
    gap: 4rem;
    
}

.expeditionCard {
    @include center(row);
    width: 80%;
    height: 40rem;
    background: darken($accent, 5%);
    border-radius: 4rem;
    position: relative;
    z-index: 0;
    
    
    & img {
        // margin: 1rem;
        height: 100%;
        width: 30rem;
        object-fit: cover;
        filter: brightness(80%);
        border-radius: 4rem 0 0 4rem;
        box-shadow: 5px 5px 15px 5px  rgba(0,0,0,0.4);
        
    }

    & article {
        flex: 1;
        padding: 2rem;
        height: 80%;

        & p {
            width: 70%;
            text-align: left;
        }

        & h2 {
            color: $secondary;
        }
        
        & .duration {
            color: gray;
            font-size: clamp(1rem, 1.5vw, 1.4rem);
        }
        
        & h3 {
            margin-block: 2rem;
            font-size: clamp(1.1rem, 2.4vw, 2rem);
        }
        
         & .region {

            font-size: clamp(1rem, 2.5vw, 2rem);
            font-weight: 700;
        }
        
        & .descritption {
            font-size: clamp(0.9rem, 2.4vw, 2rem);

        }
        
    }
    
}

.expeditionCard::after {
    content: "";
    position: absolute;
    inset: 0;
    height:  calc(100% + 2rem);;
    z-index: -2;
    width: calc(100% + 2rem);
    background: darken($accent, 15%);
    border-radius: calc(4rem + 1rem);
    transform: translate(-1rem, -1rem);
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.4);
}

.expeditionCard::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;  
    background: radial-gradient(darken($accent, 5%) ,darken($accent, 15%));
    z-index: -1;  
    box-shadow: 5px 5px 15px 5px  rgba(0,0,0,0.4);
}

.expeditionCard:nth-child(even) {
    flex-direction: row-reverse;
    & img {
        border-radius: 0 4rem 4rem 0 ;
    }

    & article {
        text-align: right;
        & p {
            text-align: inherit;
            margin-left: auto;
        }

    }
}


@media (max-width: 700px) {
    

    .expeditionCard {
        width: 100%;
        height: 20rem;
        background: black;
        & img {
            width: 40%;
        } 
        & article {
            padding: 1rem;
            height: 100%;

            & h3 {
                margin-block: 0.5rem
            }

            & p {
                width: 100%;
            }
        }  
    }
}