@use "sass:color";
@use 'config' as *;
@use 'header';
@use 'footer';


@property --mask-size {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
  }

#expedition-page-main {
    @include center(column);
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(
            color.adjust($accent, $lightness: -25%),
            color.adjust($accent, $lightness: -20%),
            color.adjust($accent, $lightness: -15%) 
    );
    // &  * {
    //     outline: 2px solid;
    // }
}

#expedition-page-hero-section-wrapper {
    height: 200vh;
    width: 100%;
    justify-items: center;
}

#expedition-page-hero-section {

    height: 100vh;
    width:100%;
    background: $black;
    position: sticky;
    top: 0;

    animation:expd-hero-scale-down ease-in-out forwards;
    animation-timeline: view();
    animation-range: cover 50% cover 70%;

    & > #expedition-page-hero-img {
        height: 100%;
        width: 100%;
        border-radius: inherit;
        opacity: 0.4;
        object-fit: cover;
    }

    & > #expedition-page-hero-article {
        position: absolute;
        width: max-content;
        color: $accent;
        padding-inline: 1rem;
        
        text-align: center;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);

        // bottom: 2rem;
        // text-align: left;
        // transform:translateY(-50%);
        animation:expd-hero-article-translate ease-in-out forwards;
        animation-timeline: view();
        animation-range: cover 50% cover 70%;
        & > h2 {
            font-size: clamp(2.5rem, 4.5vw, 5rem);
        }
        & > p {
            font-size: clamp(1.1rem, 2.5vw, 2.55rem);
        
        }

    }
}

@keyframes expd-hero-article-translate {
    0% {
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
    }
    100% {
        transform: translate(-100%, 100%);
    }
}


@keyframes expd-hero-scale-down {
    50% {
        transform: translateY(100px);
    }
    
    95% {
        transform: translateY(10px);        
    }
    
    100% {
        height: 70vh;
        width: 95%;
        margin: 1rem;
        border-radius: 1rem;
        transform: translateY(0px);
    }
}

#expedtion-page-breif-details {
    $span-color:rgb(37, 37, 37);
    --span-padding: 1rem;
    height: 20vh;
    width: 95%;
    padding: var(--span-padding);
    background: $span-color;
    border-radius: calc(1rem + var(--span-padding) * 0.5);
    @include center(row);
    gap: 1rem;
    justify-content: start;
    
    box-shadow: 5px 5px 10px #000000c2,
                -5px -5px 5px #4242429c inset,
                5px 5px 15px #0000009c inset;

    & > span {
        border-radius: calc(var(--span-padding));
        align-content: center;
        text-align: center;
        justify-items: center;
        height: 100%;
        width: 20%;
        color: $accent;
        font-size: clamp(1.1rem, 2vw, 1.5rem);
        background: radial-gradient(color.adjust($span-color, $lightness: -5%), color.adjust($span-color, $lightness: -7%));
        box-shadow: 2px 2px 5px #c2c1c144 inset,
                    5px 5px 10px #000000c2;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
        &:hover {
            scale: 1.1;
            background: radial-gradient(color.adjust($primary, $lightness: 5%), color.adjust($primary, $lightness: -15%))
        }
        
        & > i {
            margin: 1rem;
        }
    }

    &:has(span:hover) {
        gap: 0.8rem;
        & > span:not(:hover) {
            scale: 0.95;
        }
    }

}

#expedition-page-description-section {
    width: 100%;
    @include center(column);
    padding: 1rme;
    gap: 10px;
    margin: 1rem;
    contain: paint;
    overflow-x: clip;

    & > #expedition-page-description-section-brief-container {
        width: 95%;
        @include center(row);
        padding: 1rem;
        border-radius: 1rem;
        background: color.adjust($accent, $lightness:5%);
        // align-items: start;
        height: max-content;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.425);
        & > #expedition-page-description-section-brief-article {
            // mask-image: radial-gradient(circle at center, 
            //         black calc(var(--mask-size) - 10%) , 
            //         transparent var(--mask-size)
            // );
            transform: translateX(-100%);
            opacity: 0;
            flex: 1;
            animation: pop-in-from-left cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            animation-timeline: view();
            animation-range: cover 20% cover 50%;
            
             

            & > #expedition-page-description-section-brief-heading {
                width: 100%;
                font-size: clamp(2rem, 2.5vw, 3.5rem);
                text-align: center;
            }

            & > #expedition-page-description-section-brief {
                font-size: clamp(1.1rem, 2vw, 1.5rem);
                // outline: auto;
                margin-left: 1rem;
                width: 50vw;
                max-height: 90vh;
                padding: 2%;
                overflow: scroll;
                scrollbar-width: none;
            }
        }

        & > #expedition-page-description-section-map-img {
            width: 60vh;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: inherit;
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.425);
        }
    }

    & > #expedition-page-description-information-wrapper {
        @include center(row);
        gap: 1rem;
        width: 95%;
        // padding: 2rem 1rem;
        background-color:$primary;
        // padding: 0.5rem;
        gap: 0.5rem;
        border-radius: 1rem;
        height: 50vh;
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.425);
        // overflow-x: hidden;
        & > * {
            background: $accent;
            height: 100%;
            justify-items: center;
            align-content: center;
            border-radius: inherit;
            text-align: left;
            width: 50%;
            // clip-path: inset(0%);
            & p {
                width: 90%;
                padding-left:1.5rem ;
                font-size: clamp(1rem, 1.5vw, 1.5rem);

            }
        }

        & > #expedition-page-description-features {
            
            animation: pop-in-from-left cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            animation-timeline: view();
            animation-range: cover 20% cover 50%;
            opacity: 0;
            transform: translateX(-100%);

            & span {
                color: red;
                font-size: clamp(1.2rem, 1.5vw, 2.5rem);
            }
        }
        
        & > #expedition-page-description-highlights {
        
            animation: pop-in-from-right cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            animation-timeline: view();
            animation-range: cover 20% cover 50%;
            opacity: 0;
            transform: translateX(100%);
            
        }
        
        & h2 {
            font-size: clamp(2rem, 2.5vw, 3.5rem);
            text-align: center;
            margin-bottom: 1rem;
        }
        
    }
}

#expedition-page-description-information-wrapper::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 5px;
    // background-color: black;
}
        

#expedition-page-route-section {
    width: 100%;
    contain: paint;
    overflow-x: clip;
    & >  .expedition-page-route-card {
        height: 40vh;
        width: 100%;
        background: $black;
        anchor-scope: --expd-route-card;
        anchor-name: --expd-route-card;
        & >  .expedition-page-route-card-image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: 0.6;
            filter: brightness(0.5);
        }
        & >  .expedition-page-route-card-article {
            position: absolute;
            color: azure;
            left: calc(anchor(left --expd-route-card) + 2vw);
            bottom: calc(anchor(bottom --expd-route-card) + 1vw);
            padding: 1rem;
            opacity: 0;
            transform: translateX(-100%);

            animation: pop-in-from-left cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            animation-timeline: view();
            animation-range: cover 20% cover 50%;
             
            & >  .expedition-page-route-card-day {
                font-size: clamp(2rem, 3.5vw, 3rem);
            }
            & >  .expedition-page-route-card-activity {
                width: 50%;
                font-size: clamp(1rem, 1.5vw, 1.6rem);

            }
        }
    }
}

#expedition-page-route-section {
    & > .expedition-page-route-card:nth-child(even) {
        & > .expedition-page-route-card-article {
            text-align: right;
            animation: pop-in-from-right cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            animation-timeline: view();
            animation-range: cover 20% cover 50%;
            opacity: 0;
            transform: translateX(100%);
            right: calc(anchor(right --expd-route-card) + 2vw);
            
             
            & >  .expedition-page-route-card-activity {
                margin-left: auto;
            }
        }
    }
}
#expedition-page-information-section {
    width: 100%;
    margin-block: 1rem;
    justify-items: center;
    position: relative;
    & > #expedition-page-information-requirements-wrapper {
        & > #expedition-page-information-requirements-bg-img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    & > #expedition-page-information-requirements {
        padding:5rem;
        background: $primary;
        background-image: url("/src/assets/paper-ruled.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-block-end: 0.5rem;
        width: 100%;
        border-radius: 0;
        justify-items: center;
        align-content: center;
        position: relative;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.425);
        mask-image: url("/src/assets/masks/mask-frame.png");
        mask-size: 100% 100% ;
        mask-position: center;
        mask-repeat: no-repeat;
        animation: expd-info-req-animation cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        animation-timeline: view();
        animation-range: cover 30%;
        font-family: "Shadows Into Light Two", cursive;

        & > h2 {
            width: max-content;
            padding-inline: 2%;
            // background: inherit;
            text-align: center;
            anchor-name: --expd-info-heading;
            position: relative;
            z-index: 1;
            margin-block: 1vw;
        }
        
        & p {
            padding-left:1.5rem ;
            font-size: clamp(1rem, 1.4vw, 1.5rem);
        }

        &::after {
            // content: "";
            position: absolute;
            width: 80%;
            height: 1vh;
            background: $secondary;
            z-index: 0;
            top: calc(anchor(center --expd-info-heading) - 0.5vh);
            left: 50%;
            transform: translateX(-50%);
            clip-path: polygon(0% 50%, 1% 0%, 99% 0%, 100% 50%, 99% 100%, 1% 100%, 0% 50%);
            // margin-inline: auto;
        }
    }

    & > #expedition-page-information-precautions {
        background: #fffb00;
        width: 100%;
        font-size: clamp(1rem, 1.4vw, 1.5rem);
        // border-radius: 1rem;
        padding: 1rem;
        // border-top: 5px dashed black;
        // border-bottom: 5px dashed black;
        box-shadow: 5px 5px 15px rgb(141, 141, 0) inset,
                    -5px -5px 10px #fffd71 inset;
        justify-items: center;
        & > p {
            width: 70%;
        }
    }
}

@keyframes expd-info-req-animation {
    to {
        width: 70%;
        border-radius: 10vw;
    }
}

@keyframes pop-in-from-left {
    0% {
        scale: 0.5;
        opacity: 0;
        transform: translateX(-100%);
    }
    80% {
        scale: 0.8;
        opacity: 0.1;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes pop-in-from-right {
    0% {
        scale: 0.5;
        opacity: 0;
        transform: translateX(100%);
    }
    80% {
        scale: 0.8;
        opacity: 0.1;
    }
    100% {
        scale: 1;
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes circular-fade-in {
    0% {
        // mask-image: radial-gradient(circle at top left, 
        //                                 black, 
        //                                 black 20%, 
        //                                 transparent 20%
        //     );
            --mask-size: 20%;
        }
    20% {
        // mask-image: radial-gradient(circle at center center, 
        //                             black, 
        //                             black 40%, 
        //                             transparent 40%
        // );
        --mask-size: 40%;
    }
    100% {
        --mask-size: 100%;
        // mask-image: linear-gradient(black);
    }
}
// expedition-page-description-requirements-para-container

@media (max-width:700px) {
    #expedition-page-description-section {
        & > #expedition-page-description-section-brief-container {
            flex-direction: column-reverse;
            & > #expedition-page-description-section-map-img {
                width: 100%;
            }
            & > #expedition-page-description-section-brief-article{
                width: 100%;
                padding-block: 1rem;
                & > #expedition-page-description-section-brief {
                    width: 100%;
                }
            }
        }
        & > #expedition-page-description-information-wrapper {
            flex-direction: column;
            height: 100vh;
            & > article {
                width: 100%;
            }
        }
    }

    #expedtion-page-breif-details {
        flex-direction: column;
        height: max-content;
        & > span {
            width: 100%;
            padding: 3%;
        }
    }
    
    #expedition-page-information-section {
        padding: 2%;
        & > #expedition-page-information-requirements {
            width: 90%;
            animation: none;
            border-radius: 2rem;
        }
    }

    @keyframes expd-hero-article-translate {
        0% {
            top: 50%;
            left: 50%;
            transform:translate(-50%, -50%);
        }
        100% {
            transform: translate(-50%, 110%);
        }
    }
}