@use "sass:color";
@use 'config' as *;
@use 'header';
@use 'footer';

#expedition-page-main {
    @include center(column);
    min-height: 100vh;
    width: 100%;

    // &  * {
    //     outline: 2px solid;
    // }
}

#expedition-page-hero-section-wrapper {
    height: 200vh;
    width: 100%;
    justify-items: center;
}

#expedition-page-hero-section {

    height: 100vh;
    width:100%;
    background: $black;
    position: sticky;
    top: 0;

    animation:expd-hero-scale-down ease-in-out forwards;
    animation-timeline: view();
    animation-range: cover 50% cover 70%;

    & > #expedition-page-hero-img {
        height: 100%;
        width: 100%;
        border-radius: inherit;
        opacity: 0.4;
        object-fit: cover;
    }

    & > #expedition-page-hero-article {
        position: absolute;
        inset: auto auto 2rem 2rem;
        color: $accent;
    }
}



@keyframes expd-hero-scale-down {
    50% {
        transform: translateY(100px);
    }
    
    95% {
        transform: translateY(10px);        
    }
    
    100% {
        height: 70vh;
        width: 95%;
        margin: 1rem;
        border-radius: 1rem;
        transform: translateY(0px);
    }
}

#expedtion-page-breif-details {
    height: 20vh;
    width: 95%;
    padding: 10px;
    background:rgb(199, 199, 199);
    border-radius: 1rem;
    @include center(row);
    gap: 1rem;
    justify-content: start;

    & > span {
        border-radius: calc(10px);
        align-content: center;
        text-align: center;
        justify-items: center;
        height: 100%;
        width: 20%;
        color: $accent;
        font-size: clamp(1.1rem, 2vw, 1.5rem);
        background: color.adjust(rgb(199, 199, 199), $lightness: -10%);
        
        & > i {
            margin: 1rem;
        }
    }

}

#expedition-page-description-section {
    width: 100%;
    @include center(column);
    padding: 1rme;
    gap: 10px;
    margin: 1rem;
    

    & > #expedition-page-description-section-brief-container {
        width: 95%;
        @include center(row);
        padding: 1rem;
        border-radius: 1rem;
        background: color.adjust($accent, $lightness:5%);
        // align-items: start;
        height: max-content;

        & > #expedition-page-description-section-brief-article {
            flex: 1;

            & > #expedition-page-description-section-brief-heading {
                width: 100%;
                font-size: clamp(2rem, 2.5vw, 3.5rem);
                text-align: center;
            }

            & > #expedition-page-description-section-brief {
                font-size: clamp(1.1rem, 2vw, 1.5rem);
                // outline: auto;
                margin-left: 1rem;
                width: 50vw;
                max-height: 90vh;
                padding: 2%;
                overflow: scroll;
                scrollbar-width: none;
            }
        }

        & > #expedition-page-description-section-map-img {
            width: 60vh;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: inherit;
        }
    }

    & > #expedition-page-description-information-wrapper {
        @include center(row);
        gap: 1rem;
        width: 95%;
        // padding: 2rem 1rem;
        background-color:$primary;
        // padding: 0.5rem;
        gap: 0.5rem;
        border-radius: 1rem;
        height: 50vh;
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.425);
        
        & > * {
            background: $accent;
            height: 100%;
            justify-items: center;
            align-content: center;
            border-radius: inherit;
            text-align: left;
            width: 50%;
            & p {
                width: 90%;
                padding-left:1.5rem ;
                font-size: clamp(1rem, 1.5vw, 1.5rem);

            }
        }

        & > #expedition-page-description-features {
            & span {
                color: red;
                font-size: clamp(1.2rem, 1.5vw, 2.5rem);
            }
        }
        
        // & > #expedition-page-description-highlights {
        // }
        
        & h2 {
            font-size: clamp(2rem, 2.5vw, 3.5rem);
            text-align: center;
            margin-bottom: 1rem;
        }
        
    }
}

#expedition-page-description-information-wrapper::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 5px;
    // background-color: black;
}
        

#expedition-page-route-section {
    width: 100%;
    & >  .expedition-page-route-card {
        height: 40vh;
        width: 100%;
        background: $black;
        anchor-scope: --expd-route-card;
        anchor-name: --expd-route-card;
        & >  .expedition-page-route-card-image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: 0.6;
            filter: brightness(0.5);
        }
        & >  .expedition-page-route-card-article {
            position: absolute;
            color: azure;
            left: calc(anchor(left --expd-route-card) + 2vw);
            bottom: calc(anchor(bottom --expd-route-card) + 1vw);
            padding: 1rem;
            & >  .expedition-page-route-card-day {
                font-size: clamp(2rem, 3.5vw, 3rem);
            }
            & >  .expedition-page-route-card-activity {
                width: 50%;
                font-size: clamp(1rem, 1.5vw, 1.6rem);

            }
        }
    }
}

.expedition-page-route-card:nth-child(even) {
    & > .expedition-page-route-card-article {
        text-align: right;
        right: calc(anchor(right --expd-route-card) + 2vw);
        & >  .expedition-page-route-card-activity {
            margin-left: auto;
        }
    }
}
#expedition-page-information-section {
    width: 100%;
    margin-block: 1rem;
    justify-items: center;
    & > #expedition-page-information-requirements {
        width: 70%;
        padding: 1rem;
        & p {
            padding-left:1.5rem ;
            font-size: clamp(1rem, 1.4vw, 1.5rem);
        }
    }

    & > #expedition-page-information-precautions {
        background: rgb(255, 255, 0);
        width: 100%;
        font-size: clamp(1rem, 1.4vw, 1.5rem);
        // border-radius: 1rem;
        padding: 1rem;
        border-top: 5px dashed black;
        border-bottom: 5px dashed black;
        // box-shadow: 0 0 0 5px rgb(141, 141, 0) inset;
        justify-items: center;
        & > p {
            width: 70%;
        }
    }
}

@media (max-width:700px) {
    #expedition-page-description-section {
        & > #expedition-page-description-section-brief-container {
            flex-direction: column-reverse;
            & > #expedition-page-description-section-map-img {
                width: 100%;
            }
            & > #expedition-page-description-section-brief-article{
                width: 100%;
                padding-block: 1rem;
                & > #expedition-page-description-section-brief {
                    width: 100%;
                }
            }
        }
        & > #expedition-page-description-information-wrapper {
            flex-direction: column;
            height: 100vh;
            & > article {
                width: 100%;
            }
        }
    }

    
    #expedition-page-information-section {
        width: 100%;
        padding: 2%;
    }
}