@use "sass:color";
@use 'config' as *;
@use 'header';
@use 'footer';

#expedition-page-main {
    @include center(column);
    min-height: 100vh;
    width: 100%;
    padding-top: 70px;

    // &  * {
    //     outline: 2px solid;
    // }
}

#expedition-page-hero-section {
    height: 70vh;
    background: $black;
    width: 95%;
    margin: 1rem;
    border-radius: 1rem;
    position: relative;

    & > #expedition-page-hero-img {
        height: 100%;
        width: 100%;
        border-radius: inherit;
        opacity: 0.4;
        object-fit: cover;
    }

    & > #expedition-page-hero-article {
        position: absolute;
        inset: auto auto 2rem 2rem;
        color: $accent;
    }
}

#expedtion-page-breif-details {
    height: 20vh;
    width: 95%;
    padding: 10px;
    background:rgb(199, 199, 199);
    border-radius: 1rem;
    @include center(row);
    gap: 1rem;
    justify-content: start;

    & > span {
        border-radius: calc(10px);
        align-content: center;
        text-align: center;
        justify-items: center;
        height: 100%;
        width: 20%;
        color: $accent;
        font-size: clamp(1.1rem, 2vw, 1.5rem);
        background: color.adjust(rgb(199, 199, 199), $lightness: -10%);
        
        & > i {
            margin: 1rem;
        }
    }

}

#expedition-page-description-section {
    width: 100%;
    @include center(column);
    padding: 1rme;
    gap: 10px;
    margin: 1rem;

    & > #expedition-page-description-section-brief-container {
        width: 95%;
        @include center(row);
        padding: 1rem;
        border-radius: 10px;
        background: color.adjust($accent, $lightness: -10%);
        align-items: start;
        & > #expedition-page-description-section-brief-article {
            flex: 1;

            & > #expedition-page-description-section-brief-heading {
                font-size: clamp(1.2rem, 2.5vw, 3.5rem);
            }

            & > #expedition-page-description-section-brief {
                font-size: clamp(1.1rem, 2vw, 1.5rem);
                width: 90%;
                margin-left: 1rem;
            }
        }

        & > #expedition-page-description-section-map-img {
            height: 20rem;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: inherit;
        }
    }

    & > #expedition-page-description-information-wrapper {
        @include center(row);
        width: 95%;
        padding: 2rem 1rem;
        gap: 1rem;
        background: $accent;
        border-radius: 1rem;
        & > #expedition-page-description-features {
            width: 40%;
            border-right: 2px solid black;
        }
        
        & > #expedition-page-description-highlights {
            width: 60%;
        }
        & h2 {
            margin-bottom: 1rem;
        }
        & p {
            padding-left:1.5rem ;
            font-size: clamp(1rem, 2vw, 1.6rem);
        }
    }
}

#expedition-page-information-section {
    width: 70%;
    margin-block: 1rem;
    & > #expedition-page-information-requirements {
        width: 100%;
        padding: 1rem;
        & p {
            padding-left:1.5rem ;
            font-size: clamp(1rem, 1.4vw, 1.5rem);
        }
    }

    & > #expedition-page-information-precautions {
        background: rgba(255, 255, 24, 0.425);
        width: 100%;
        font-size: clamp(1rem, 1.4vw, 1.5rem);
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: 0 0 0 2px rgb(141, 141, 0);
    }
}