@import 'config';
@import 'header';
@import 'footer';

body {
    min-height: 100vh;
    background: darken($accent, 10%);
    overflow-x: hidden ;
}

#experience-hero-section {
    @include heroSection();
}

#expereince-main {
    @include center(column);
}

#experience-list-section {
    @include center(column);
    width: 90%;
    padding: 2rem;
    gap: 2rem;
}

.experience-card {
    @include center(row);
    width: 100%;
    height: 40rem;
    padding: 1rem ;
    background: darken($accent, 5%);
    border-radius: 3rem;
    box-shadow: 5px 5px 10px  rgba(0,0,0,0.2);
    

    & > .experience-card-img {
        height: 90%;
        width: 30rem;
        object-fit: cover;
        filter: brightness(80%);
        box-shadow: 5px 5px 15px 5px  rgba(0,0,0,0.4);
        border-radius: 100% 5rem 5rem 100%;
    }
    
    & > .experience-card-article {
        width: 40vw;
        height: 80%;
        background: $accent;
        padding: 1rem;
        border-radius: 0 500px 500px 0;
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
        animation: animateOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        
        & > * {
            opacity: 0;
            animation: animateOutText 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            animation-delay: 500ms;    
            
        } 
        
        & .experience-card-article-name {
            color: $secondary;
        }
        
        & .experience-card-article-region {
            width: 60%;
            text-align: start;
            font-size: clamp(1rem, 1.5vw, 1.4rem);
            margin-bottom: 2rem;
            opacity: 0.8;
            padding-bottom: 10px;
            border-bottom: 1px solid $secondary;
            box-shadow: 0px 5px 10px -10px $secondary;
         }
         
         & .experience-card-article-para {
             width: 90%;
             text-align: start;
             font-size: clamp(1.2rem, 1.5vw, 1.8rem);
             
            }
        }
        
    
}

@keyframes animateOut {
    from {
        width: 0;
        opacity: 0;
    }
}

@keyframes animateOutText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.experience-card:nth-child(even) {
    flex-direction: row-reverse;
    & .experience-card-img {
        border-radius: 5rem 100% 100% 5rem;
            
    }

    & .experience-card-article {
        border-radius: 500px 0 0 500px;
        
        & > h2 {
            width: 100%;
            text-align: right;
        }

        & > p {
            text-align: end;
            margin-left: auto;
        }
    }
}

@media (max-width: 700px) {
    #expereince-main {
        background-color: black;
        padding: 0;
    }
    #experience-list-section {
        padding-inline: 1rem;
        background: pink;
        width: 100%;
        gap: 1rem;
    }

    .experience-card {
        padding: 0.5rem;
        width: 95%;
        height: 50vw;
        border-radius: 2rem;
        
        & .experience-card-img {
            width: 40%;
            border-radius: 20rem 3rem 3rem 20rem;
        } 
        & .experience-card-article {
            @include center(column);
            padding: 1rem;
            flex: 1;
            border-radius: 0 20rem 20rem 0 ;
            & > h2 {
                width: 100%;
                text-align: left;
                font-size: 1.6rem;
            }
    
            & .experience-card-article-region{
                width: 100%;
                border: none;
                box-shadow: none;
                margin-bottom: 0.3rem;
            }

            & .experience-card-article-para {
                display: none;
            }

        }  
    }

    .experience-card:nth-child(even) {
        & .experience-card-img {
            border-radius:3rem 20rem 20rem 2rem;
        }
    }
}