@use "sass:color";
@use 'config' as *;
@use 'header';
@use 'footer';

#experience-page-main {
    @include center(column);
    // height: 100vh;
    width: 100%;
    position: relative;
    justify-content: start;
}

#experience-bg-img {
    height: 100vh;
    background: $black;
    width:100%;
    position: relative;
    position: sticky;
    top: 0;
    z-index: -1;

    & > #experience-bg {
        height: 100%;
        width: 100%;
        opacity: 0.4;
        object-fit: cover;
        animation: hero-bg-img-scale-up ease-in;
        animation-timeline: view();
        animation-range: cover;
    }

    & > #experience-bg-name {
        color: $accent;
        font-size: clamp(3rem, 10vw, 8rem);
        position: absolute;
        inset: 10rem auto auto 1rem;
        width: 100%;
        text-align: center;
        animation: hero-bg-txt-translate ease-in;
        animation-timeline: view();
        animation-range: cover 20%;
        will-change: text-align;
        transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

@keyframes hero-bg-img-scale-up {
    40% {
        scale: 1.3;
    } 
    100% {
        scale: 1.5;
    }
}

@keyframes hero-bg-txt-translate {
    20%, 100% {
        inset: 10rem auto auto 1rem;
        width: 50%;
        // text-align: left;
        font-size: clamp(3rem, 10vw, 6rem);
    }
}



#experience-hero-details {
    width: 50%;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.342);
    padding: 20rem 1rem;
    color: azure;
    justify-self: end;
    z-index: 2;
    margin-left: auto;
    @include center(column);
    justify-content: start;
    gap: 1rem;
    & > * {
        background: rgba(0,0,0, 0.6);
        width: 90%;
        border-radius: 1rem;
        padding: 1rem;
        opacity: 0;
        animation: und-page-detail-article cubic-bezier(0.175, 0.885, 0.32, 1.275);
        animation-range: cover 40% cover 80%;
        animation-timeline: view();
        box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.6);
    } 

    & h2 {
        margin-bottom: 1rem;
    }
}

@keyframes und-page-detail-article {
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}

#experience-hero-details-brief {
    font-size: clamp(1.1rem, 1.5vw, 1.5rem);
}

#experience-hero-details-quick-facts {
    font-weight: 100;
    font-size: clamp(1.1rem, 1.5vw, 1.3rem);
    & span {
        font-weight: 700;
    }
}

#experience-hero-details-spot-lights {
    @include center(column);
    gap: 2rem; 
    & > .experience-hero-details-spot-lights-card {
        @include center(row);
        gap: 1rem; 
        anchor-scope: --image;

        & > .experience-hero-details-spot-lights-article{
            flex: 1;
            font-size: clamp(1.1rem, 1.5vw, 1.5rem);
            // anchor-scope: --image;
            
            & > .fa-solid-wrap {
                --ofset:0.5rem;
                height: 5vh;
                aspect-ratio: 1 / 1;
                background: $black;
                border-radius: 5vh;
                text-align: center;
                // color: rgb(255, 69, 69);
                color: $accent;
                position: absolute;
                align-content: center;
                top: calc(anchor(top --image) - var(--ofset));
                right: calc(anchor(right --image) - var(--ofset));
                box-shadow: 0 0 0 var(--ofset) black;
            }
        }
    }
}

.experience-hero-details-spot-lights-card-img {
    --radius: 20%;
    height: 30vh;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 1rem;
    anchor-name: --image;
    // anchor-scope: --image;
    // mask-image: radial-gradient(circle at 90% 10%, transparent var(--radius), black calc(var(--radius) + 0.5px));
}

#experience-hero-details-expert-guides {
    font-weight: 100;
    font-size: clamp(1.1rem, 1.5vw, 1.3rem);
    & span {
        font-weight: 700;
    }
}