@use "sass:color";
@use 'config' as *;
@use 'header';
@use 'footer';


#expereince-main {
    background: color.adjust($primary, $lightness:15%);
    @include center(column);
}

#experience-hero-section {
    @include heroSection();
}


#experience-list-section {
    @include center(column);
    width: 90%;
    padding: 2rem;
    gap: 2rem;
}

.experience-card {
    @include center(row);
    width: 100%;
    height: 40rem;
    padding: 1rem ;
    background: radial-gradient(color.adjust($primary, $lightness:5%), $primary);
    border-radius: 3rem;
    box-shadow: 5px 5px 10px  rgba(0,0,0,0.2);
    

    & > .experience-card-img {
        height: 90%;
        width: 30rem;
        object-fit: cover;
        filter: brightness(80%);
        box-shadow: 5px 5px 15px 5px  rgba(0,0,0,0.6);
        border-radius: 100% 5rem 5rem 100%;
    }
    
    & > .experience-card-article {
        width: 0vw;
        height: 80%;
        opacity: 0;
        background: color.adjust($accent, $lightness:-5%);
        padding: 1rem;
        border-radius: 0 500px 500px 0;
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
        animation: animateOut cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-timeline: view();
        animation-range: cover;

        & * {
            opacity: 0;
            animation: animateOutText  cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            animation-delay: 500ms;    
            animation-timeline: view();
            animation-range: cover 30%;
            
        } 
        
        & .experience-card-article-name {
            color: $secondary;
        }
        
        & .experience-card-article-region {
            width: 60%;
            text-align: start;
            font-size: clamp(1rem, 1.5vw, 1.4rem);
            margin-bottom: 2rem;
            opacity: 0;
            padding-bottom: 10px;
            border-bottom: 1px solid $secondary;
            box-shadow: 0px 5px 10px -10px $secondary;
            // animation: animateOutText  cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            // animation-delay: 500ms;    
            // animation-timeline: view();
            // animation-range: cover;
         }
         
         & .experience-card-article-para {
             width: 90%;
             text-align: start;
             font-size: clamp(1.2rem, 1.5vw, 1.8rem);
             
            }
        }
        
    
}

@keyframes animateOut {
    0%, 100% {
        width: 0;
        opacity: 0;
    }

    30%,80% {
        width: 40vw;
        opacity: 1;    
    }
    90% {
        width: 20vw;
        opacity: 0.5;    
    }
}

@keyframes animateOutText {
    // from {
    //     opacity: 0;
    // }
    // to {
    //     opacity: 1;
    // }
    0%, 100% {
        opacity: 0;
    }

    30%,70% {
        opacity: 1;    
    }
    90% {
        opacity: 0.1;    
    }
}

.experience-card:nth-child(even) {
    flex-direction: row-reverse;
    & .experience-card-img {
        border-radius: 5rem 100% 100% 5rem;
            
    }

    & .experience-card-article {
        border-radius: 500px 0 0 500px;
        
        & > h2 {
            width: 100%;
            text-align: right;
        }

        & > p {
            text-align: end;
            margin-left: auto;
        }
    }
}

@media (max-width: 700px) {
    #expereince-main {
        padding: 0;
    }
    #experience-list-section {
        padding-inline: 1rem;
        width: 100%;
        gap: 1rem;
    }

    .experience-card {
        padding: 0.5rem;
        width: 95%;
        height: 50vw;
        border-radius: 2rem;
        
        & .experience-card-img {
            width: 40%;
            border-radius: 20rem 3rem 3rem 20rem;
        } 
        & .experience-card-article {
            @include center(column);
            padding: 1rem;
            flex: 0;
            border-radius: 0 20rem 20rem 0 ;
            & * {
                animation-range: cover 30%;
            } 
            & > h2 {
                width: 100%;
                text-align: left;
                font-size: 1.6rem;
            }
    
            & .experience-card-article-region{
                width: 100%;
                border: none;
                box-shadow: none;
                margin-bottom: 0.3rem;
                animation-range: cover 30%;
            }

            & .experience-card-article-para {
                display: none;
            }

        }  
    }

    .experience-card:nth-child(even) {
        & .experience-card-img {
            border-radius:3rem 20rem 20rem 2rem;
        }
    }

    @keyframes animateOut {
        0%, 100% {
            flex: 0;
            opacity: 0;
        }
    
        30%,80% {
            flex: 1;
            opacity: 1;    
        }
        90% {
            flex: 0.5;
            opacity: 0.5;    
        }
    }
}