@use "sass:color";
@use 'config' as *;
@use 'header';
@use 'footer';


#expedition-hero-section {
    --card-img-width: 40%;
    @include heroSection();
}

#expedition-list-section {
    @include center(column);
    width: 100%;
    background: linear-gradient( color.adjust($primary, $lightness: 10%), color.adjust($accent,$lightness:-30%));
    padding: 2rem;
    gap: 4rem;
    
}

.expedition-card {
    @include center(row);
    width: 80%;
    height: 40rem;
    background: color.adjust($accent,$lightness: -5%);
    border-radius: 4rem;
    position: relative;
    z-index: 0;
    justify-content: flex-start;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.466),
                0 0 0 2vh color.adjust($accent,$lightness: -15%),
                5px 5px 25px 2vh rgba(0, 0, 0, 0.548);
    
    & .expedition-card-img {
        // margin: 1rem;
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: brightness(80%);
        border-radius: 4rem ;
        box-shadow: 5px 5px 15px 5px  rgba(0,0,0,0.4);
        animation: expd-card-img-scale-down ease-in-out;
        animation-timeline: view();
        animation-range: cover;
        z-index: 2;
    }

    & .expedition-card-article {
        flex: 1;
        padding: 2rem;
        height: 80%;
        // display: none;
        opacity: 0;
        animation: expd-card-img-scale-down-txt ease-in;
        animation-timeline: view();
        animation-range: cover;
        
        & p {
            width: 70%;
            text-align: left;
        }

        & .expedition-card-article-name {
            color: $secondary;
        }
        
        & .expedition-card-article-duration {
            color: gray;
            font-size: clamp(1rem, 1.5vw, 1.4rem);
        }
        
        & .expedition-card-article-usp {
            margin-block: 2rem;
            font-size: clamp(1.1rem, 2.4vw, 2rem);
        }
        
         & .expedition-card-article-region {

            font-size: clamp(1rem, 2.5vw, 2rem);
            font-weight: 700;
        }
        
        & .expedition-card-article-descritption {
            font-size: clamp(0.9rem, 2.4vw, 2rem);

        }
        
    }
    
}

// .expedition-card::after {
//     content: "";
//     position: absolute;
//     inset: 0;
//     height:  calc(100% + 2rem);;
//     z-index: -2;
//     width: calc(100% + 2rem);
//     background: color.adjust($accent,$lightness: -15%);
//     border-radius: calc(4rem + 1rem);
//     transform: translate(-1rem, -1rem);
//     box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.4);
// }

// .expedition-card::before {
//     content: "";
//     position: absolute;
//     inset: 0;
//     border-radius: inherit;  
//     background: radial-gradient(color.adjust($accent, $lightness:-5%) ,color.adjust($accent,$lightness: -15%));
//     z-index: -1;  
//     box-shadow: 5px 5px 15px 5px  rgba(0,0,0,0.4);
// }

.expedition-card:nth-child(even) {
    flex-direction: row-reverse;
    // & > img {
    //     border-radius: 0 4rem 4rem 0 ;
    // }

    & > article {
        text-align: right;
        & > p {
            text-align: inherit;
            margin-left: auto;
        }

    }
}


@keyframes expd-card-img-scale-down {
    0%,100% {
        width: 100%;
    }
    10%,90% {
        width: 60%;
    }
    20%,80% {
        width: 40%;
    }
}

@keyframes expd-card-img-scale-down-txt {
    0%,100% {
        opacity: 0;
        display: none;
    }
    10%,90% {
        display: block;
        opacity: 0.4;
    }
    30%,70% {
        opacity: 1;
    }
}

@media (max-width: 700px) {

    .expedition-card {
        width: 100%;
        height: 20rem;
        border-radius: 2rem;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.466),
                    0 0 0 10px color.adjust($accent,$lightness: -15%),
                    5px 5px 15px 10px rgba(0, 0, 0, 0.548);
    
        & > .expedition-card-img {
            border-radius: 2rem;
        }
        & .expedition-card-article {
            padding: 1rem;
            height: 100%;
            
            & > h3 {
                margin-block: 0.5rem
            }

            & > p {
                display: none;
            }
        }  
    }
}