@import 'config';
@import 'header';
@import 'footer';
@import 'hero';
@import 'popular';
@import 'activities';
@import 'recommendation';
@import 'underrated'; 
@import 'regions';

body {
    overflow-x: hidden;
    min-height: 100vh;
    width: 100vw;
    font-family: "Stack Sans Headline", sans-serif;
}