@use "sass:color";
@use 'config' as *;
@use 'header';
@use 'footer';
@use 'home/hero';
@use 'home/popular';
@use 'home/activities';
@use 'home/recommendation';
@use 'home/underrated'; 
@use 'home/regions';

body {
    overflow-x: hidden;
    min-height: 100vh;
    width: 100vw;
}

@media (max-width:700px) {
    h2 {
        width: 90%;
    }
}