@import 'config';
@import 'header';
@import 'footer';
@import 'home/hero';
@import 'home/popular';
@import 'home/activities';
@import 'home/recommendation';
@import 'home/underrated'; 
@import 'home/regions';

body {
    overflow-x: hidden;
    min-height: 100vh;
    width: 100vw;
}