@import 'config';
@import 'header';
@import 'footer';
@import 'hero';
@import 'popular';

body {
    // @include center(column);
    min-height: 100vh;
    width: 100vw;
    font-family: "Stack Sans Headline", sans-serif;
}