@import 'config';
@import 'header';
@import 'footer';

body {
    min-height: 100vh;
    background: $primary;
    overflow-x: hidden ;
}


.countryCard {
    height: 100vh;
    width: 100%;
    @include center(column);    

    position: relative;
    background: $accent;
    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.5;
        filter: blur(1px);
    }

}

.foregroundDetails {
    position: absolute;
    inset: 0;
    @include center(row);
    background: linear-gradient(to right, $black 0%, $black 40%,  transparent 40%, transparent 100%);
    
    
    & img {
        width: 40%;
        filter: blur(0);
        object-fit: cover;
        mask-image: linear-gradient(
            to bottom,
            transparent 0%,
            black 20%,
            black 80%,
            transparent 100%
          );
        box-shadow: 2px 2px 5px 2px $black;
        opacity: 0.7;
    }

    .countryDetails {
        width: 60%;
        @include center(column);
        padding: 2rem;
        & h2 {
            padding-inline: 1rem;
            text-transform: uppercase;
            font-weight: 200;
            font-family: "Gasoek One", sans-serif;
            color: $secondary;
            text-align: left;
            width: 100%;
            margin:0 2rem 2rem 2rem;
            border-bottom: 1px solid $secondary;
            font-size:  4rem;
        }
        & p{
            padding-left: 0;
            padding-block: 1rem;
            font-size: clamp(1.2rem, 1.3vw, 2rem);
            color: $black;
            text-align: left;
        }
        & button {
            height: 50px;
            width: 150px;
            border: none;
            border-radius: 50px;
            font-size: clamp(1.1rem, 1.2vw, 1.5rem);
            margin: auto;
            color: $black;
            font-weight: 500;
            background: $primary;
        }

    }
}

.countryCard:nth-child(even) {
    .foregroundDetails {
        flex-direction: row-reverse;
        background: linear-gradient(to left, $black 0%, $black 40%,  transparent 40%, transparent 100%);

        & .countryDetails {
            & p,
            & h2 {
            text-align: right;
            }
            
        }
    }
}

  @media (max-width: 700px) {
    .countryCard {
        height: 50vh;
        & .foregroundDetails {
            .countryDetails {
                padding: 0;
                h2 {
                    font-size:  clamp(1.5rem, 2.5vw, 2rem);
                }
                & p {
                    display: none;
                }
                & button {
                    height: 25px;
                    width: 100px;
                }
            }   
        }
    }
  }