@use "sass:color";
@use 'config' as *;
@use 'header';
@use 'footer';


#region-hero-section {
    @include heroSection();
}

// #region-list-section { 

// }

.region-country-card {
    height: 100vh;
    width: 100%;
    // @include center(column); 
    position: sticky;
    top: 0;  
    background: $black;
    & .region-country-card-bg-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.5;
        filter: brightness(40%);
    }

}

@mixin country-index-traker {
    width: var(--btn-height);
    height: var(--btn-height);
    border: 1px solid $accent;
    border-radius: var(--btn-height);
    color: $accent;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
}

.region-country-card-detail {
    --btn-height:6vh;
    position: absolute;
    inset: 1rem;
    @include center(column);
    height: fit-content;
    padding: 1rem;
    width: 10vw;
    gap: 1rem;
    & > .region-country-card-detail-card-index {
        background: transparent;
        @include country-index-traker;
        &:hover {
            background: #ffffff7a
        }
    }

    
}

.region-country-card-detail-card-index-current {
    @include country-index-traker;
    background: $accent;
    color: $black;
    box-shadow: -5px -5px 5px 0 rgba(0,0,0,0.4) inset,
                5px 5px 5px 0 #ffffff inset;

}


.region-country-card-detail-article {
    width: 100%;
    @include center(column);
    padding: 2rem;
    position: absolute;
    inset: auto 1rem 0 auto;
    text-align: right;
    color: $accent;
    & > h2 {
        padding-inline: 1rem;
        text-transform: uppercase;
        font-weight: 800;
        width: 100%;
        font-size: clamp(3rem, 5.5vw, 5rem);
    }
    & > p{
        align-self: baseline;
        width: 90%;
        padding-left: 0;
        padding-block: 1rem;
        font-size: clamp(1.2rem, 1.3vw, 2rem);
        anchor-name: --country-para;
        font-weight: 300;
        opacity: 0.8;
    }
    & > .fa-solid  {
        position: absolute;
        left: calc(anchor(right --country-para) + 5%);
        top: calc(anchor(center --country-para) - 10%);
        font-size: clamp(2rem, 4vw, 3rem);
    }

}


  @media (max-width: 700px) {
    .region-country-card {
        & .region-country-card-detail-article {
            width: 100%;
            height: 30%;
            inset: auto;
            bottom: 2vw;
            & > p {
                width: 80%;
            }
            & > .fa-solid  {
                font-size: 3rem;
            }   
        }
    }
    
    .region-country-card-detail {
        --btn-height:4vh;
    }    
}