@use "sass:color";
@use 'config' as *;
@use 'header';
@use 'footer';


#region-hero-section {
    @include heroSection();
}

// #region-list-section { 

// }

.region-country-card {
    height: 100vh;
    width: 100%;
    // @include center(column); 
    position: sticky;
    top: 0;  
    background: $black;
    & .region-country-card-bg-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.5;
        filter: brightness(40%);
    }

}

.region-country-card-detail {
    position: absolute;
    inset: 0;
    @include center(row);
    background: linear-gradient(to right, $black 0%, $black 40%,  transparent 40%, transparent 100%);
    display: none;
    // the country list styles
    
}

.region-country-card-detail-article {
    width: 60%;
    @include center(column);
    padding: 2rem;
    position: absolute;
    inset: auto 1rem 1rem auto;
    color: $accent;
    & > h2 {
        padding-inline: 1rem;
        text-transform: uppercase;
        font-weight: 200;
        font-family: "Gasoek One", sans-serif;
        text-align: left;
        width: 100%;
        margin:0 2rem 2rem 2rem;
        border-bottom: 1px solid $secondary;
        font-size:  4rem;
    }
    & > p{
        align-self: baseline;
        width: 90%;
        padding-left: 0;
        padding-block: 1rem;
        font-size: clamp(1.2rem, 1.3vw, 2rem);
        text-align: right;
        anchor-name: --country-para;
    }
    & > .fa-solid  {
        position: absolute;
        left: calc(anchor(right --country-para) + 5%);
        top: calc(anchor(center --country-para) - 10%);
        font-size: clamp(2rem, 4vw, 3rem);
    }

}


  @media (max-width: 700px) {
    .region-country-card {
        & .region-country-card-detail-article {
            width: 100%;
            height: 30%;
            inset: auto;
            bottom: 2vw;
            & > p {
                width: 80%;
            }
            & > .fa-solid  {
                font-size: 3rem;
            }   
            & * {
                // text-align: center;
                outline: 2px solid;
            }
        }
    }
  }