@use "sass:color";
@use 'config' as *;
@use 'header';
@use 'footer';


#region-hero-section {
    @include heroSection();
}

// #region-list-section { 

// }

.region-country-card {
    height: 100vh;
    width: 100%;
    // @include center(column); 
    position: sticky;
    top: 0;  
    background: $black;
    & .region-country-card-bg-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.5;
        filter: brightness(40%);
    }

}

.region-country-card-detail {
    position: absolute;
    inset: 0;
    @include center(row);
    background: linear-gradient(to right, $black 0%, $black 40%,  transparent 40%, transparent 100%);
    display: none;
    // the country list styles
    
}

.region-country-card-detail-article {
    width: 60%;
    @include center(column);
    padding: 2rem;
    position: absolute;
    inset: auto 1rem 1rem auto;
    color: $accent;
    & > h2 {
        padding-inline: 1rem;
        text-transform: uppercase;
        font-weight: 200;
        font-family: "Gasoek One", sans-serif;
        text-align: left;
        width: 100%;
        margin:0 2rem 2rem 2rem;
        border-bottom: 1px solid $secondary;
        font-size:  4rem;
    }
    & > p{
        padding-left: 0;
        padding-block: 1rem;
        font-size: clamp(1.2rem, 1.3vw, 2rem);
        text-align: left;
    }
    & > button {
        height: 50px;
        width: 150px;
        border: none;
        border-radius: 50px;
        font-size: clamp(1.1rem, 1.2vw, 1.5rem);
        margin: auto;
        font-weight: 500;
        background: $primary;
    }

}

.region-country-card:nth-child(even) {
    .region-country-card-detail {
        flex-direction: row-reverse;
        background: linear-gradient(to left, $black 0%, $black 40%,  transparent 40%, transparent 100%);

        & .region-country-card-detail-article {
            & > p,
            & > h2 {
            text-align: right;
            }
            
        }
    }
}

  @media (max-width: 700px) {
    .region-country-card {
        height: 50vh;
        & .region-country-card-detail {
            .region-country-card-detail-article {
                padding: 0;
                & > h2 {
                    font-size:  clamp(1.5rem, 2.5vw, 2rem);
                }
                & > p {
                    display: none;
                }
                & > button {
                    height: 25px;
                    width: 100px;
                }
            }   
        }
    }
  }