@import 'config';
@import 'header';
@import 'footer';
@import 'attraction';

body {
    min-height: 100vh;
    background: darken($primary, 10%);
    overflow-x: hidden ;
}

#heroSection {
    height: 100vh;
    width: 100%;
    @include center(column);    

    position: relative;
    background: $black;
    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.5;
    }

    & #heroArticle {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        & h1 {
            @include headingText();
            font-size: clamp(2rem, 5vw, 10rem);
            text-align: center;
            margin-bottom: 0;

        }

        & p{
            font-size: clamp(1.2rem, 1.5vw, 3rem);
            color: $accent;
        }
    }

}