@use "sass:color";
@use 'config' as *;
@use 'header';
@use 'footer';

#underrated-page-main {
    width: 100%;
    background-color: $secondary;
    position: relative;
    @include center(column);
    align-items: end;
    z-index: -1;
}

#underrated-place-bg-section {
    height: 100vh;
    width: 100%;
    background: $black;
    anchor-name: --bg-section;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 0;
    & > #underrated-place-bg-img {
        height: 100%;
        width: 100%;
        opacity: 0.2;
        object-fit: cover;
        // filter: grayscale(1);
        animation: hero-bg-img-scale-up ease-in;
        animation-timeline: view();
        animation-range: cover;
    }

    & > #underrated-place-bg-detail {
        // height: 50%;
        width: 100%;
        text-align: center;
        color: white;
        position: absolute;
        top: 50%;
        left: 0%;
        animation: hero-bg-txt-translate ease-in;
        animation-timeline: view();
        animation-range: cover 20%;
        transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        // left: 30%;
        transform: translate(0%,-50%);
        & > #underrated-place-bg-location {
            font-size: 3rem;
            font-weight: 300;
            animation: hero-bg-para-resize ease-in forwards;
            animation-timeline: view();
            animation-range: cover 20%;
            transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

        }
        & > #underrated-place-bg-name {
            width: 100%;
            font-size: clamp(4rem, 7vw, 8rem);
            font-weight: 900;
            animation: hero-bg-heading-resize ease-in forwards;
            animation-timeline: view();
            animation-range: cover 20%;
            transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
            
        }
    }
}


@keyframes hero-bg-heading-resize {
    20%, 100% {
        font-size: clamp(3rem, 5vw, 4rem);
        font-weight: 600;
    }
}

@keyframes hero-bg-para-resize {
    20%, 100% {
        font-size: clamp(1.5rem, 2.5vw, 2.4rem);
    }
}

#underrated-place-hero-section {
    z-index: 2;
    min-height: 100vh;
    width: 50%;
    @include center(column);
    gap: 1rem;
    // background: linear-gradient( color.adjust($accent, $lightness: -30%), color.adjust($accent, $lightness: -40%));
    background: radial-gradient(circle, color.adjust($secondary, $lightness: -5%),color.adjust($secondary, $lightness: 0%),color.adjust($secondary, $lightness: -10%),);
    padding-block: 20rem;
    // overflow-y: scroll;
    // position: absolute;
    // inset: 0 0 0 auto;
    & > article {
        opacity: 0;
        animation: und-page-detail-article cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-range: cover 40% cover 80%;
        animation-timeline: view();
        & > h2 {
            text-align: center;
        }
    }
}

#underrated-place-hero-famous {
    background: color.adjust($accent, $lightness: 15%);
    box-shadow: 5px 5px 20px 0 rgba(199, 255, 95, 0.212);
    // outline: 2px solid;
    width: 90%;
    padding: 2rem;
    // border: 2px solid black;
    border-radius: 15px;
    justify-items: center;
    & > #underrated-place-hero-famous-heading {
        font-size: clamp(1.1rem, 3vw, 3rem);
        
        padding-inline: 1%;
        width: max-content;
        background: inherit;
        position: relative;
        anchor-name: --und-article-h2;
        &::after {
            content: '';
            width: 100%;
            height:5px;
            background-color: $primary;
            padding-inline: 5%;
            z-index: -1;
            // border-bottom: 2px solid $secondary;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            // top: anchor(center, --und-article-h2);
            // left:anchor(right, --und-article-h2);
        }
    }

    & > #underrated-place-hero-famous-brief {
        text-indent: 1rem;
        width: 100%;
        padding-top: 0.5rem;
        padding-left: 2rem;
        font-size: clamp(1.1rem, 1.5vw, 1.5rem);
    }

}

#underrated-place-hero-history {
    background: color.adjust($accent, $lightness: 15%);
    box-shadow: 5px 5px 20px 0 rgba(199, 255, 95, 0.212);
    width: 90%;
    padding: 2rem;
    border-radius: 15px;

    & span {
        font-weight: 700;
    }

    & > #underrated-place-hero-history-era {
        font-weight: 200;
        color: $black;

    }

    & > #underrated-place-hero-history-brief {
        font-size: clamp(1.1rem, 2vw, 1.6rem);
        padding: 1rem;
        text-indent: 1rem;
    }
}

#underrated-place-hero-facts {
    background: color.adjust($accent, $lightness: 15%);
    box-shadow: 5px 5px 20px 0 rgba(199, 255, 95, 0.212);
    
    width: 90%;
    padding: 2rem;
    border-radius: 15px;
    & h2 {
        text-transform: capitalize;
    }

    & ul {
        list-style: none;
    }
    & p {
        text-indent: 1rem;
    }
}

#underrated-place-hero-tips{
    background: color.adjust($primary, $lightness: -5%);
    width: 90%;
    box-shadow: 5px 5px 10px 5px color.adjust($primary, $lightness: -40%) inset,
                -0px -0px 5px 5px color.adjust($primary, $lightness: 30%) inset,
                5px 5px 15px 2px color.adjust($secondary, $lightness: -10%);
    padding: 2rem;
    border-radius: 15px;
    font-size: clamp(1.1rem, 2vw, 1.6rem);
    color: color.adjust($black, $alpha: -0.1);
    text-indent: 0%;
    & span {
        font-weight: 600;
        color: $black;
    }
}

@media (max-width: 700px) {
    #underrated-place-bg-section {
        & > #underrated-place-bg-img {
            animation: none;
        }
    }    
    #underrated-place-hero-section {
        width: 100%;
        }
}
