@use "sass:color";
@use '../config' as *;
$total-items: 16;
$animation-duration: 5s;

:root {
    --item-width : 21vw;
}

#home-activity-section {
    @include center(column);
    width: 100%;
    background:
        linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), 
        url("/public/region-webp/Nordic-Europe.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#home-activity-section-heading {
    @include headingText();
    color: $secondary;
    width: 90%;
}

#home-activity-container {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-activity-card-container {
    height: 100%;
    width: 90%;
    @include center(row);
    overflow: hidden;
    justify-content: flex-start;
    position: relative;
    // mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
}

.home-experience-card {
    @include center(column);
    position: absolute;
    height: 90%;
    align-self: center;
    // box-shadow: 5px 5px 10px 5px $black;
    background: $black;
    border-radius: 25px;

    outline: 2px solid;
    background: transparent;

    // old corousel styles
    width: var(--item-width);
    // left: max(calc(var(--item-width) * $total-items), 100%);
    // animation: retailScroll $animation-duration linear infinite;

    left: 150%;
    animation: home-act-scroll-y $animation-duration linear infinite;

    & > .home-experience-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        // opacity: 0.5;
        border-radius: 25px;
    }
    
    & > .home-activity-details-box {
        display: none;
        opacity: 0;
        position: absolute;
        color: $accent;
        bottom: 0;
        @include center(column);
        padding-block: 1rem;
        border-radius: 0 0 25px 25px ;
        box-shadow: 0px 5px 5px 0px $black;
        background: linear-gradient(to bottom, transparent 0%, $black 80%, $black 100%);
        & > .home-activity-detail {
            width: 100%;
            padding: 1rem;
            & .home-activity {
                font-size: clamp(2rem, 2.5vw, 4rem);
            }
            & .home-activity-para {
                text-align: left;
            }    
        }

        & > .home-experience-btn {
            height: 50px;
            width: 150px;
            border: none;
            border-radius: 50px;
            font-size: clamp(1.2rem, 1.2vw, 1.5rem);
            margin-inline: 1rem;
            color: $black;
            font-weight: 500;
            background: $primary;
            position: relative;
            
        }
    }
}


@keyframes home-act-scroll-y {
    0% {
        left: 150%;
    }
    
    20%, 80% {
        left: 10%;
    }
    100% {
        left: -120%
    }

}


@keyframes retailScroll {

    100% {
        left: calc(var(--item-width) * -1); 
    }
}

// @for $i from 1 through $total-items {
//     .home-item#{$i} {
//         // animation-delay: calc(#{$animation-duration} / #{$total-items} * (#{$total-items} - #{$i}) * -1);
//     }
// }

.home-item1 {
    animation-delay: 0s;
}

.home-item2 {
    animation-delay: 5s;
}
.home-item3 {
    animation-delay: 10s;
}
.home-item4 {
    animation-delay: 15s;
}
.home-item5 {
    animation-delay: 20s;
}
.home-item6 {
    animation-delay: 25s;
}
.home-item7 {
    animation-delay: 30s;
}
.home-item8 {
    animation-delay: 35s;
}

.home-item9 {
    animation-delay: 40s;
}
.home-item10 {
    animation-delay: 45s;
}
.home-item11 {
    animation-delay: 50s;
}
.home-item12 {
    animation-delay: 55s;
}
.home-item13 {
    animation-delay: 60s;
}
.home-item14 {
    animation-delay: 65s;
}
.home-item15 {
    animation-delay: 70s;
}
.home-item16 {
    animation-delay: 75s;
}

@media (max-width: 700px) {
    :root {
        --item-width: 80%;
    }
    #home-activity-container {
        width: 95%;
    }

    #home-activity-section-heading{
        width: 90%;
    }
}