@use "sass:color";
@use '../config' as *;

#home-popular-section {
    background:linear-gradient(to top, $primary, color.adjust($primary, $lightness: 5%)) ;
    width: 100%;
    height: 100vh;
    @include center(column);
    justify-content: space-evenly;
    // border-radius:0 0 200% 200%;
}

#home-popular-heading {
    // outline: 2px solid white;
    @include headingText();
    border-bottom: 1px solid $accent;
    width: 90%;
}

#home-popular-container {
    position: relative;
    height: 60%;
    background-color: $accent;
    transition: all 0.4s ease;
    margin-bottom: 1rem;
    z-index: 2;
    border-radius: 2rem;
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.6) ;
    &::before {
        z-index: 5;
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.267);
        border-radius: 2rem;
    }
    & > #home-popular-img-container {
        border-radius: inherit;
        height: 100%;
                
        & > #home-popular-img {
            border-radius: inherit;
            height: 100%;
            aspect-ratio: 16 / 9;
            object-fit: cover;
            
        }
        
        & > #home-popular-img-detail-text {
            z-index: 10;
            min-height: 30%;
            width: 100%;
            background: rgba(0, 0, 0, 0.616);
            color: $accent;
            position: absolute;
            bottom: 0;
            padding: 2rem;
            // outline: 20px solid lime;
            padding-left: 2rem;
            font-size: clamp(2rem, 2.5vw, 4rem);
            border-radius: 2rem;
            @include center(row);
            justify-content: space-between;
            & p{
                text-align: left;
            }
        }
    }
}

.home-popular-bg-img {
    border-radius: inherit;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    position: relative;
    // opacity: 0.5;
}

#home-popular-bg-img-container-left{
    height: 70%;
    position: absolute;
    top: 50%;
    right: -20%;
    transform: translateY(-50%);
    background-color: #000;
    z-index: -1;
    border-radius: 2rem;
    box-shadow: 0px 5px 5px  rgba(0,0,0,0.6) ;
    &::before {
        z-index: 5;
        content: "";
        position: absolute;
        inset: 0;
        background:linear-gradient(to left, rgba(0, 0, 0, 0.541), black);
        border-radius: 2rem;
    }
}

#home-popular-bg-img-container-right  {
    height: 70%;
    position: absolute;
    top: 50%;
    left: -20%;
    transform: translateY(-50%);
    background-color: #000;
    z-index: -1;
    border-radius: 2rem;
    box-shadow: 0px 5px 5px  rgba(0,0,0,0.6) ;
    &::before {
        z-index: 5;
        content: "";
        position: absolute;
        inset: 0;
        background:linear-gradient(to right, rgba(0, 0, 0, 0.541), black);
        border-radius: 2rem;
    }
}

#home-popular-country-name {
    margin-top: 0;
    font-size: clamp(1rem, 1.2vw, 1.3rem);
}

#home-popular-nav-container {
    @include center(row);
    max-width: 95vw;
    & > .fa-solid {
        margin: 0 1rem;
        font-size: 3rem;
        color: $accent;
    }

    & button {
        margin-top: 1rem;
        margin: 0 0.5rem;
        transition: all 0.3s ease-in;
        border: none;
        &:hover {
            background: $secondary;
        }

    }
}



.home-popular-nav-btn {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    background: $accent;
}

.home-popular-nav-btn-active {
    height: 1.5rem;
    width: 1.5rem;
    background: color.adjust($accent, $lightness: -60%);
    border-radius: 1.5rem;
}

@media (max-width: 700px) {
    #home-popular-bg-img-container-right {
        left: -10%;
        top: 10%;
        transform: rotate(-5deg);
    }
    #home-popular-bg-img-container-left {
        right: -10%;
        top: 10%;
        transform: rotate(5deg);
    } 

    #home-popular-container {
        width: 75%;
        & img {
            width: 100%;
        }
    }

    .fa-circle-chevron-left,
    .fa-circle-chevron-right {
        font-size: 4rem;
    }
    
}