@use "sass:color";
@use '../config' as *;


#home-recommend-section {
    width: 100%;
    height: 100vh;
    @include center(column);
    padding: 1rem;
    background: radial-gradient($accent, color.adjust($accent, $lightness:-10%));
}

#home-recommend-section-heading {
    @include headingText();
    color: $secondary;
}

#home-recommend-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

#home-recommend-card-container {
    width: 100%;
    gap: 1rem;
    overflow: hidden;
    // display: flex;
    // flex-direction: row;
}

.home-recommend-card-track {
    display: flex;
    width: 300%;
    transition: transform 0.8s ease-in-out;
}

.home-recommend-card {
    @include center(column);
    height: 30vw;
    position: relative;
    flex: 0 0 8.333%;
    & > .home-recommend-card-img {
        box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
        height: 80%;
        width: 90%;
        object-fit: cover;
        border-radius: 50px 100px 30px 80px;
    }
    & > .home-recommend-card-article {
        flex: 1;
        width: 100%;
        padding: 1rem;
        text-align: center;
        & > .home-recommend-card-article-expedition {
            color: $secondary;
            font-size: clamp(2rem, 2vw, 3rem);
        }
    }
}

// .home-recommend-card-article-expedition-description

#home-recommend-btn-container {
    @include center(column);
    width: 100%;
    font-size: clamp(1.5rem, 2vw, 3rem) ;   
    & > #home-recommend-btn-container-discover-btn {
        height: 50px;
        width: max-content;
        padding-inline: 2rem;
        border: none;
        border-radius: 50px;
        margin-inline: 1rem;
        background: $primary;
        & > * {
            font-size: clamp(1.2rem, 1.2vw, 1.5rem);
            color: $black;
            font-weight: 500;
            text-decoration: none;
        } 
    } 
}
#home-recommend-btn-container-nav {
    & > .fa-solid {
        color: $black;
        margin-inline: 1rem;
    }
}
@media (max-width: 700px) {
    
    .home-recommend-card {
        height: 70vh;
        flex: 0 0 33.333%;
        
        & > .recommendationhome-recommend-card-article {
            & > p {
                display: none;
            }
        }
    }
}