@use "sass:color";
@use '../config' as *;

// * {outline: 2px solid;}

#home-region-section {
    width: 100%;
    min-height: 100vh;
    @include center(row);
    padding: 1rem;
    // justify-content: space-evenly;
    background: linear-gradient($secondary, color.adjust($secondary, $lightness:-10%));

    @media (max-width: 700px) {
        flex-direction: column;
    }
}

#home-region-section-info {
    height: 70vh;
    width: 50%;
    @include center(column);
    gap: 1rem;
    
    & > #home-region-section-info-article {
        color: $accent;
        height: 70%;
        width: 89%;
        margin: auto;
        @include center(column);
        // justify-content: space-evenly;
        & > #home-region-section-info-article-name {
            width: 100%;
            text-align: center;
            font-size: clamp(2rem, 4.5vw, 5rem);
        }

        & > #home-region-section-info-article-para {
            margin-block: 1rem;
            font-size: clamp(1.2rem, 2.5vw, 2rem);
        }
    }
}


#home-region-section-info-heading {
    @include headingText();
    width: 100%;
    color: $accent;
}

#home-region-section-container {
    height: fit-content;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vh;
    margin-inline:auto ;
}

.home-region-card {
    height: 10vh;
    width: 10vh;

    border-radius: 1vh;
    color: $accent;
    background-color: $black;
    position: relative;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 10px 2px $black;

    & .home-region-card-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.8;
        border-radius: inherit;
    }
}


// .home-region-card:hover{
//     scale: 1.1;
// }


#home-region-section-info-article-explore {
    text-align: center;
    text-wrap: none;
    background: $accent;
    color: $secondary;
    font-size: 2rem;
    height: 70px;
    width: 250px;
    border: none;
    border-radius: 70px;
    @include center(row);
    margin-top: 2rem;

    & > .fa-solid {
        color: black;
    }
}

@media (max-width: 700px) {
    #home-region-section-info  {
        width: 100%;
        height: 10vh;
        & > #home-region-section-info-heading {
            font-size: clamp(5rem, 2.5vw, 3rem);
        }
        & > article {
            display: none;
        }
    }

    #home-region-section-container {
        width: 100%;;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        // overflow-x: scroll;
        scroll-snap-type: y mandatory;
    }

    .home-region-card {
        height: 10vh;
        width: 90vw;
        // transform: translate(0%, 0%);
        opacity: 0;
        // scale: 1 1;
        animation: region-card-animate cubic-bezier(0.215, 0.610, 0.355, 1);
        animation-timeline: view();
        animation-range:200px;
        z-index: 2;
        background-color: $accent;
        will-change: height; 
        transform: translateZ(0);
        position: relative;

        scroll-snap-align: center;
        scroll-snap-stop: always;
        & > .home-region-card-article {
            position: absolute;
            bottom: 0;
            background: rgba(0,0,0,0.7);
            padding: 1rem;
            & > .home-region-card-article-para {
                // transform: translateY(20px);
                transition: opacity 0.5s ease, transform 0.5s ease;
                pointer-events: none;
                animation: region-article-para-up ease-in;
                animation-timeline: view();
                animation-range:200px;
            }
        }
    }

    @keyframes region-article-para-up {
        to {
            transform: translateY(0);
        }
    }

    @keyframes region-card-animate {
        30% {
            // scale: 1 2;
            opacity: 1;
            height: 40vh;
        }
        50% {
            // scale: 1 4;
        }
        70% {
            // scale: 1 2;
            opacity: 0.8;
            height: 25vh;
        }
        90% {
            // scale: 1 1.2;
            opacity: 0.1;
            height: 15vh;
        }
    }
}
