@import '../config';

// * {
//     outline: 2px solid;
// }

#regionInfo {
    height: 100vh;
    width: 50%;
    @include center(column);

    & article {
        color: $accent;
        // height: 30%;
        width: 80%;
        margin: auto;
        @include center(column);
        & h2 {
            width: 100%;
            text-align: center;
            font-size: clamp(2rem, 4.5vw, 5rem);
        }

        & p {
            margin-block: 1rem;
            font-size: clamp(1.2rem, 2.5vw, 2rem);
        }
    }
}

#regionSection {
    height: 100vh;
    @include center(row);
    padding: 1rem;
    // justify-content: space-evenly;
    background: linear-gradient($secondary, darken($secondary, 10%));
}

#sectionHeading {
    @include headingText();
    width: 100%;
    color: $accent;
}

#regionWrapper {
    height: fit-content;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vh;
    margin-inline:auto ;
}

.regionCard {
    height: 10vh;
    width: 10vh;

    border-radius: 1vh;
    color: $accent;
    background-color: $black;
    position: relative;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 10px 2px $black;

    & .regionImg {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.8;
        border-radius: inherit;
    }

    & article {
        display: none;
        position: absolute;
        bottom: 1rem;
        padding-left: 1rem;
        & p {
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.5s ease, transform 0.5s ease;
            pointer-events: none;
        }
    }
}

.regionCard:hover .regionPara {
    opacity: 1;
    transform: translateY(0);
}

.regionCard:hover{
    scale: 1.1;
}


#regionExplore {
    text-align: center;
    text-wrap: none;
    background: $accent;
    color: $secondary;
    font-size: 2rem;
    height: 70px;
    width: 250px;
    border: none;
    border-radius: 70px;
    display: none;
}
