@import '../config';

// * {
//     outline: 2px solid;
// }

#home-region-section-info {
    height: 100vh;
    width: 50%;
    @include center(column);

    & > #home-region-section-info-article {
        color: $accent;
        // height: 30%;
        width: 80%;
        margin: auto;
        @include center(column);
        & > #home-region-section-info-article-name {
            width: 100%;
            text-align: center;
            font-size: clamp(2rem, 4.5vw, 5rem);
        }

        & > #home-region-section-info-article-para {
            margin-block: 1rem;
            font-size: clamp(1.2rem, 2.5vw, 2rem);
        }
    }
}

#home-region-section {
    width: 100%;
    min-height: 100vh;
    @include center(row);
    padding: 1rem;
    // justify-content: space-evenly;
    background: linear-gradient($secondary, darken($secondary, 10%));

    @media (max-width: 700px) {
        flex-direction: column;
    }
}

#home-region-section-info-heading {
    @include headingText();
    width: 100%;
    color: $accent;
}

#home-region-section-container {
    height: fit-content;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vh;
    margin-inline:auto ;
}

.home-region-card {
    height: 10vh;
    width: 10vh;

    border-radius: 1vh;
    color: $accent;
    background-color: $black;
    position: relative;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 10px 2px $black;

    & .home-region-card-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.8;
        border-radius: inherit;
    }

    & .home-region-card-article {
        display: none;
        position: absolute;
        bottom: 1rem;
        padding-left: 1rem;
        & > .home-region-card-article-para {
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.5s ease, transform 0.5s ease;
            pointer-events: none;
        }
    }
}

.home-region-card:hover .home-region-card-article-para {
    opacity: 1;
    transform: translateY(0);
}

.home-region-card:hover{
    scale: 1.1;
}


#home-region-section-info-article-explore {
    text-align: center;
    text-wrap: none;
    background: $accent;
    color: $secondary;
    font-size: 2rem;
    height: 70px;
    width: 250px;
    border: none;
    border-radius: 70px;
    display: none;
}

@media (max-width: 700px) {
    #home-region-section-info  {
        width: 100%;
        height: 10vh;
        & > h2 {
            font-size: clamp(5rem, 2.5vw, 3rem);
        }
        & > article {
            display: none;
        }
    }

    #home-region-section-container {
        width: 100%;;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        // overflow-x: scroll;
    }

    .home-region-card {
        height: 30vh;
        width: 90vw;
        transform: translate(0%, 0%);
        scale: 1 1;
    }
}
