@import '../config';

#underratedSection {
    height: 100vh;
    @include center(column);
    padding: 1rem;
    background:
        linear-gradient(rgba(2, 2, 2, 0.6), rgba(2, 2, 2, 0.6)), 
        url('/public/city-images-webp/Paris.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: space-between;
    color: $accent;
}

#underratedHeading {
    @include headingText();
}

#underratedWrapper {
    padding-bottom: 2rem;
    @include center(column);
    gap: 1rem;
}

#underratedButtonWrapper {
    @include center(column);
    width: 100%;
    font-size: clamp(1.5rem, 2vw, 3rem) ;  
    gap: 1rem; 
    & #underratedLearnBtn {
        height: 50px;
        width: max-content;
        padding-inline: 2rem;
        border: none;
        border-radius: 50px;
        font-size: clamp(1.2rem, 1.2vw, 1.5rem);
        margin-inline: 1rem;
        color: $black;
        font-weight: 500;
        background: $primary;
    } 
}

.fa-solid {
    margin-inline: 2rem;
}