@use "sass:color";
@use '../config' as *;

#home-underrated-section {
    width: 100%;
    height: 100vh;
    color: $accent;
    background: $black;
    position: relative;
    & > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.9;
    }   

}

#home-underrated-section-heading {
    @include headingText();
    position: absolute;
    top: 1rem;
    width: 90%;
}

.home-underrated-section-container {
    width: 100%;
    padding-block: 2rem;
    @include center(column);
    gap: 1rem;
    position: absolute;
    bottom: 0rem;
    border-radius: 4rem 4rem 0 0 ;
    background: rgba(0,0,0,0.7);
    box-shadow: 0 -15px 20px rgba(0, 0, 0, 0.452);

    & > #home-underrated-section-container-article {
        font-size: clamp(1.2rem, 2.5vw, 3rem);
    }
}

#home-underrated-section-container-btn-ctn {
    @include center(column);
    width: 100%;
    font-size: clamp(1.5rem, 2vw, 3rem) ;  
    gap: 1rem; 
    & #home-underrated-section-container-btn-ctn-learn-more {
        height: 50px;
        width: max-content;
        padding-inline: 2rem;
        border: none;
        border-radius: 50px;
        font-size: clamp(1.2rem, 1.2vw, 1.5rem);
        margin-inline: 1rem;
        color: $black;
        font-weight: 500;
        background: $primary;
        & > .fa-solid {
            background: none;
            
            margin-inline: 2rem;
        }
    } 
}
