@import '../config';
@import '../header';
@import '../footer';

body {
    min-height: 100vh;
    background: $primary;
    overflow-x: hidden ;
    background-color: $accent;
}

#heroSection {
    height: 100vh;
    width: 100%;
    @include center(column);    

    position: relative;
    background: $black;
    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.5;
    }

    & #heroArticle {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        & h1 {
            @include headingText();
            font-size: clamp(2rem, 5vw, 10rem);
            text-align: center;
            margin-bottom: 0;

        }

        & p{
            font-size: clamp(1.2rem, 1.5vw, 3rem);
            color: $accent;
        }
    }
}

#cityListAnimateContainer {
    @include center(row);
    width: 100%;
    justify-content: space-evenly;
    min-height: 100vh;
    background: radial-gradient(lighten($primary, 20%) 0%, $primary 30%, $primary 70%, darken($primary, 20%) 100%);
}


#cityAnimate {
    height: 100vh;
    width: 20%;
}

#cityListWrapper {
    width: 70%;
    height: 100vh;
    @include center(column);
}

.cityCard {
    position: relative;
    width: 80%;
    height: 50vh;
    border-radius: 50px;
    box-shadow: 5px 5px 10px 5px darken($primary, 20%);

    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 50px;
    }

    & article {
        @include center(column);
        border-radius: 50px 0 0 50px;
        position: absolute;
        height: 100%;
        width: 40%;
        color: $accent;
        background: rgba(0,0,0, 0.5)
        radial-gradient(transparent, $black);
        top: 0;
        opacity: 0;
        // transform: translateX(-100%);
        transition: all 0.5s ease-out;

        & h2 {
            width: 100%;
            border-bottom: 2px solid $accent;
            
            @include headingText();
            padding: 2px;
            font-size: clamp(2.5rem, 3vw, 4.5rem);
        }

        & p {
            font-size: clamp(1rem, 1.2vw, 1.2rem);
            color: $accent;
            width: 80%;
        }
        
    }
}

.cityCard:hover  .cityDetails{
    transform: translateX(0);
    opacity: 1;
}